AI_Agent_Translator.json
{
  "name": "[AI Agent] Translator",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {"name": "ko_text", "type": "string"},
            {"name": "system_prompt", "type": "string"},
            {"name": "user_prompt", "type": "string"},
            {"name": "model_mode", "type": "string", "defaultValue": "production"},
            {"name": "job_id", "type": "string"}
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-800, 0],
      "id": "trig-1",
      "name": "Start"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "rule": {
                "conditions": {
                  "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                  "conditions": [
                    {"leftValue": "={{ $json.model_mode }}", "rightValue": "production", "operator": {"type": "string", "operation": "equals"}}
                  ]
                }
              }
            },
            {
              "rule": {
                "conditions": {
                  "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                  "conditions": [
                    {"leftValue": "={{ $json.model_mode }}", "rightValue": "e2e-test", "operator": {"type": "string", "operation": "equals"}}
                  ]
                }
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [-560, 0],
      "id": "switch-1",
      "name": "Switch by model_mode"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_prompt || $json.ko_text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "={{ $json.system_prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-280, -200],
      "id": "agent-prod-1",
      "name": "Agent (production)",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_prompt || $json.ko_text }}",
        "needsFallback": false,
        "options": {
          "systemMessage": "={{ $json.system_prompt || 'Переведи текст с корейского на русский максимально точно и литературно.' }}",
          "maxTokens": 4096,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-280, 200],
      "id": "agent-e2e-1",
      "name": "Agent (e2e-test)",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {"mode": "chooseBranch"},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [0, 0],
      "id": "merge-1",
      "name": "Merge Results"
    },
    {
      "parameters": {
        "jsCode": "const start = $('Start').first().json;\nconst merged = $input.first().json;\nconst output = merged?.output || merged?.text || '';\nconst modelMode = start.model_mode || 'production';\nconst modelUsed = modelMode === 'e2e-test' ? 'ollama/llama3.2:3b' : 'neuro/gpt-5.2-chat-latest';\nconst isError = !output;\nreturn [{\n  success: !isError,\n  output: output,\n  model_used: modelUsed,\n  fallback_used: false,\n  latency_ms: 0,\n  error: isError ? (merged?.error || 'No output from agent') : null,\n  metadata: {\n    agent_type: 'translator',\n    model_mode: modelMode,\n    job_id: start.job_id || null,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0],
      "id": "code-output-1",
      "name": "Format Output"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2-chat-latest",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-320, 50],
      "id": "lm-neuro-1",
      "name": "GPT-5.2 (Neuro)",
      "credentials": {
        "openAiApi": {
          "id": "BsGSDSjRdNfiWliT",
          "name": "Neuroapi"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-5.2-chat",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-220, 50],
      "id": "lm-polza-1",
      "name": "GPT-5.2 (Polza)",
      "credentials": {
        "openAiApi": {
          "id": "dw2ygQ53RyVkCAva",
          "name": "Polza"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama3.2:3b",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-260, 450],
      "id": "lm-ollama-1",
      "name": "Ollama llama3.2:3b",
      "credentials": {
        "openAiApi": {
          "id": "JD2Nq8h0kULY7Ly3",
          "name": "Ollama"
        }
      }
    }
  ],
  "connections": {
    "Start": {"main": [[{"node": "Switch by model_mode", "type": "main", "index": 0}]]},
    "Switch by model_mode": {"main": [[{"node": "Agent (production)", "type": "main", "index": 0}], [{"node": "Agent (e2e-test)", "type": "main", "index": 0}]]},
    "Agent (production)": {"main": [[{"node": "Merge Results", "type": "main", "index": 0}]]},
    "Agent (e2e-test)": {"main": [[{"node": "Merge Results", "type": "main", "index": 1}]]},
    "Merge Results": {"main": [[{"node": "Format Output", "type": "main", "index": 0}]]},
    "GPT-5.2 (Neuro)": {"ai_languageModel": [[{"node": "Agent (production)", "type": "ai_languageModel", "index": 0}]]},
    "GPT-5.2 (Polza)": {"ai_languageModel": [[{"node": "Agent (production)", "type": "ai_languageModel", "index": 1}]]},
    "Ollama llama3.2:3b": {"ai_languageModel": [[{"node": "Agent (e2e-test)", "type": "ai_languageModel", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}