clone_workflow.json
[{"updatedAt":"2026-04-06T04:07:48.175Z","createdAt":"2026-03-06T02:06:37.154Z","id":"GPARI8V4RBSPL1h39_kHW_TEST","name":"[Перевод] Перевод чанка - TEST","description":"","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT * FROM document_glossary WHERE job_id IN (SELECT job_id FROM job_current);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-368,176],"id":"51afce0c-5c95-4860-b85b-be7d9b48dc9e","name":"Чтение глоссария","executeOnce":true,"retryOnFail":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"translate_prompts","mode":"list","cachedResultName":"translate_prompts"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-528,176],"id":"a23f9ada-511f-46a9-9663-97cb8d42a399","name":"Чтение промтов","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"jsCode":"let UserPrompt = '';\nlet SystemPrompt = '';\nlet PostProductPrompt = '';\n\n// User prompt\nconst roller_summary = $('Получение rolling summary главы для промта').first().json?.roller_summary;\nif (roller_summary && Object.keys(roller_summary)?.length) {\n  UserPrompt += `\n## КРАТКОЕ СОДЕРЖАНИЕ ПРЕДЫДУЩЕЙ ГЛАВЫ:\n${JSON.stringify(roller_summary)}\n`;\n}\n\nconst roller_summary_arc = $('Чтение текущей арки').first().json.summary;\nif (roller_summary_arc && Object.keys(roller_summary_arc)?.length) {\n  UserPrompt += `\n## КРАТКОЕ ОПИСАНИЕ ТЕКУЩЕЙ АРКИ:\n${JSON.stringify(roller_summary_arc)}\n`;\n}\n\nif ($('Выбор чанка для перевода').first().json?.prev_line) {\n  UserPrompt += `\n<CONTEXT_BEFORE>\n${$('Выбор чанка для перевода').first().json.prev_line}\n</CONTEXT_BEFORE>\n`;\n}\n\nUserPrompt += `\n## ПЕРЕВЕДИ СТРОГО НА РУССКИЙ:\n${$('Выбор чанка для перевода').first().json.chunk_text}\n`;\n\n//System Prompt\nSystemPrompt += $('Чтение промтов').all().find(item => item.json.name === 'BP Default')?.json?.prompt || '';\n\nlet glossary_text = '';\nconst glossary = $('Чтение глоссария').all();\nglossary_text = glossary.map((item) => \n  Object.keys(item.json).length \n  ? `${item.json.name} = ${item.json.translate}${item.json.gender ? ' (gender: ' + (item.json.gender.toLowerCase().includes('муж') ? 'male' : (item.json.gender.toLowerCase().includes('жен') ? 'female' : item.json.gender)) + ').'  : '.'}` : '').join('\\n');\nif (glossary_text.length) {\n  glossary_text = \n`━━━━━━━━━━━━━━━━━━━━━━━━━━━\nГЛОССАРИЙ — ИСТОЧНИК ИСТИНЫ\n━━━━━━━━━━━━━━━━━━━━━━━━━━━\n${glossary_text}`;\n}\nSystemPrompt = SystemPrompt.replace('{{GLOSSARY}}', glossary_text)\n\nlet customPrompt = $('Чтение промтов').all().find(item => item.json.name === 'BP BL')?.json?.prompt || '';\nif (customPrompt) {\n  customPrompt =`\n━━━━━━━━━━━━━━━━━━━━━━━━━━━\nROMAN_RULES — ПРИМЕНЯТЬ ВСЕГДА. БЕЗ ИСКЛЮЧЕНИЙ.\nИМЕЮТ ПРИОРИТЕТ НАД ВСЕМИ ОСТАЛЬНЫМИ ПРАВИЛАМИ.\n━━━━━━━━━━━━━━━━━━━━━━━━━━━\n${customPrompt}`;\n}\nSystemPrompt = SystemPrompt.replace('{{ROMAN_RULES}}', customPrompt)\n\nlet contestBefore_text = ''\nif ($('Выбор чанка для перевода').first().json?.prev_line) {\n  contestBefore_text += `\n━━━━━━━━━━━━━━━━━━━━━━━━━━━\nСЕКЦИЯ<CONTEXT_BEFORE>\n━━━━━━━━━━━━━━━━━━━━━━━━━━━\nНЕ переводить.\nИспользовать только для улучшения связности основного текста.\n`\n}\nSystemPrompt = SystemPrompt.replace('{{CONTEXT_BEFORE}}', contestBefore_text)\n\nconst light_rag = `\n━━━━━━━━━━━━━━━━━━━━━━━━━━━\nБАЗА ЗНАНИЙ МИРА (КОНТЕКСТ ИЗ RAG)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━\nСледующие факты извлечены из истории новеллы. Используй их для соблюдения логики событий и отношений между персонажами:\n${$('Запрос в LightRAG').first().json.response}\n`;\nSystemPrompt = SystemPrompt.replace('{{LIGHT_RAG}}', light_rag)\n\nlet isRomanRules = 'Чётко отслеживается, кто говорит и кто действует?';\nif (customPrompt) isRomanRules = 'ROMAN_RULES соблюдены?';\nSystemPrompt = SystemPrompt.replace('{{IS_ROMAN_RULES}}', isRomanRules)\n\nreturn { UserPrompt, SystemPrompt, PostProductPrompt };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,384],"id":"5afbff5e-93f0-4be1-8a61-5bed4aa9f112","name":"Формирование промтов для перевода"},{"parameters":{"operation":"executeQuery","query":"UPDATE  document_chunks SET status = 'processing', updated_at = now()\n  WHERE id = {{ $('Выбор чанка для перевода').first().json.id }};\n\nUPDATE  document_chapters SET status = 'processing', updated_at = now()\n  WHERE id = {{ $('Выбор чанка для перевода').item.json.chapter }};\n  ","options":{"queryReplacement":"='{{ $input.all() }}'"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-768,384],"id":"b49cd2cc-8887-4638-8d60-5ba740f4c6cf","name":"Перевод чанка в статус proccessing","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM document_chapters WHERE job_id IN (SELECT job_id FROM job_current) AND id = {{ $('Выбор чанка для перевода').item.json.chapter }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-560,384],"id":"758487df-aee5-4de1-bea4-f24c5cdcc98f","name":"Получение rolling summary главы для промта","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM document_arcs WHERE job_id IN (SELECT job_id FROM job_current) AND id IN (SELECT current_arc FROM job_current)","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1136,384],"id":"6cfffdb1-87f0-476e-844b-36166dcd0606","name":"Чтение текущей арки","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Выбор чанка для перевода').first().json.job_id }}","log":"={{ $json.error }}","type":"error","node":"Перевод чанка"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,528],"id":"b5ef91eb-a348-4b13-a28b-f55736907c9e","name":"to log","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Выбор чанка для перевода').first().json.job_id }}","log":"={{ $json.error }}","type":"error","node":"Резервный перевод чанка"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1136,544],"id":"73419903-f9f5-42f6-a7ad-f6d01c3febb2","name":"to log1","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"jsCode":"const text = $('Перевод').first().json.output;\nlet is_retranslate = false;\n\nif (!text || text.includes([`I'm sorry, but I cannot assist with that request`, `Извините, я не могу помочь с переводом этого фрагмента`])) is_retranslate = true;\nreturn { is_retranslate }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,224],"id":"73fa729c-08de-441a-b66d-2097429ad03e","name":"Поиск запрещенных слов в переводе"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"646d622b-f8e5-431b-8383-cc289994a55c","leftValue":"={{ $json.is_retranslate }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1056,224],"id":"c6378a1b-8e4e-4073-afd0-89f36e7a9dda","name":"Нет запрещенных слов?"},{"parameters":{"operation":"executeQuery","query":"UPDATE  document_chunks \n  SET \n    result_text = '{{ $('Перевод').first().json.output.replaceAll(`'`, `''`) }}',\n    updated_at = now(), \n    status = 'done' \n  WHERE \n    id = {{ $('Start Workflow').first().json.id_chunk }}\n  RETURNING\n    status;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1536,368],"id":"89a17d58-0325-4332-9bf3-13fa995b9153","name":"Запись перевода чанка в бд","executeOnce":true,"retryOnFail":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE  document_chunks \n  SET \n    result_text = '',\n    updated_at = now(), \n    status = 'error' \n  WHERE \n    id = {{ $('Start Workflow').first().json.id_chunk }}\n  RETURNING\n    status;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1344,544],"id":"9caa5df0-397d-42d7-be5b-52e220aa441c","name":"Запись об ошибке перевода чанка в бд","executeOnce":true,"retryOnFail":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1824,384],"id":"62a88517-7147-4533-8be6-93be8af25e74","name":"Merge1"},{"parameters":{"operation":"executeQuery","query":"SELECT  \n    status \n  FROM\n    document_chunks \n  WHERE \n    id = {{ $('Start Workflow').first().json.id_chunk }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2128,384],"id":"0f45ddf7-970a-4a7c-a335-d908ae732f06","name":"Возрат результата перевода","executeOnce":true,"retryOnFail":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Выбор чанка для перевода').first().json.job_id }}","log":"=Перевод сделан GPT","node":"Перевод чанка","type":"Info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,240],"id":"08182cfc-cfda-4be4-bc96-1133f49d4e0c","name":"to log2","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Выбор чанка для перевода').first().json.job_id }}","log":"=Перевод сделан CLAUDE","node":"Перевод чанка","type":"Info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[816,512],"id":"aadfe552-bae5-4848-838b-a98722f557f9","name":"to log3","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Выбор чанка для перевода').first().json.job_id }}","log":"=Найдены запрещенные слова в чанке {\nid: {{ $('Выбор чанка для перевода').first().json.id }},\njob_id: {{ $('Выбор чанка для перевода').first().json.job_id }}\nchunk_text: {{ $('Выбор чанка для перевода').first().json.chunk_text }}\ntranslate_text: {{ $('Перевод').first().json.output }}\n}","node":"Перевод чанка","type":"Info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1280,304],"id":"624f1099-bc1e-4285-8291-259cfb76d881","name":"to log4","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $json.UserPrompt }}\n","needsFallback":true,"options":{"systemMessage":"={{ $json.SystemPrompt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-176,384],"id":"543d5780-0a44-4599-b5e2-b7c16366fef6","name":"Перевод чанка","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $('Формирование промтов для перевода').first().json.UserPrompt }}\n","needsFallback":true,"options":{"systemMessage":"={{ $('Формирование промтов для перевода').first().json.SystemPrompt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[496,528],"id":"20ec1c5d-6d36-4466-b781-801f7172bc7a","name":"Резервный перевод чанка","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"let output = $('Перевод чанка').first().json.output;\nif (output) return { output };\ntry {\n  output = $('Резервный перевод чанка').first().json.output;\n  if (output) return { output };  \n  return { output: 'ERROR' }\n} catch {\n  return { output: '' }  \n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,240],"id":"235335a0-49fe-454e-9c6b-e362e5eea790","name":"Перевод","alwaysOutputData":true,"executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"266bf234-c519-40d4-9d65-6db8d2444cf9","leftValue":"={{ $json.output }}","rightValue":"ERROR","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[608,240],"id":"333dea37-abfe-4b84-ae08-90daab1b4cf5","name":"Если не ERROR?"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-5.2-chat","mode":"list","cachedResultName":"openai/gpt-5.2-chat"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-80,640],"id":"d34873fb-ad5e-48bd-986d-6df165812644","name":"GPT 5.2 from Polza.ai","credentials":{"openAiApi":{"id":"oyDHju4LEcPX94u4","name":"polza.ai"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5.2-chat-latest","mode":"list","cachedResultName":"gpt-5.2-chat-latest"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-256,640],"id":"6eb9814f-952b-4ec0-a4a4-f5812ffb7373","name":"GPT 5.2 from Neuro AI","credentials":{"openAiApi":{"id":"BsGSDSjRdNfiWliT","name":"Neuroapi"}}},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-5-20250929","mode":"list","cachedResultName":"claude-sonnet-4-5-20250929"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[384,784],"id":"98d4af8b-4afb-4c11-a7e1-9d4c4a454286","name":"CLAUDE 4.5 from Neuro","credentials":{"openAiApi":{"id":"BsGSDSjRdNfiWliT","name":"Neuroapi"}}},{"parameters":{"model":{"__rl":true,"value":"anthropic/claude-sonnet-4.5","mode":"list","cachedResultName":"anthropic/claude-sonnet-4.5"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[560,784],"id":"190612b0-d884-4eb4-9349-9a2bd041cfd4","name":"CLAUDE 4.5 from Polza.ai","credentials":{"openAiApi":{"id":"oyDHju4LEcPX94u4","name":"polza.ai"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Выбор чанка для перевода').first().json.job_id }}","log":"=Start","node":"Перевод чанка","type":"Info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-672,176],"id":"6eee0806-4d76-4f99-9e83-02f988ddf7a3","name":"to log5","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"id_chunk","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1024,176],"id":"c047c795-b60b-43b0-8e7b-e3684b35d0eb","name":"Start Workflow","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Выбор чанка для перевода').first().json.job_id }}","log":"=Finish","node":"Перевод чанка","type":"Info"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1968,384],"id":"4e672240-b115-4fd4-9733-8e3f780554bc","name":"to log6","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM document_chunks WHERE id = {{ $('Start Workflow').first().json.id_chunk }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-832,176],"id":"65a61df0-2772-47f3-8f25-c5b18a21d440","name":"Выбор чанка для перевода","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"AW58nseQdLtJn5ZO","mode":"list","cachedResultUrl":"/workflow/AW58nseQdLtJn5ZO","cachedResultName":"sub_lightrag_api"},"workflowInputs":{"mappingMode":"defineBelow","value":{"action":"query","text":"={{ $('Выбор чанка для перевода').item.json.chunk_text }}"},"matchingColumns":[],"schema":[{"id":"action","displayName":"action","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"texts","displayName":"texts","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":true},{"id":"meta_data","displayName":"meta_data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-944,384],"id":"c3474b7a-78ad-471e-b177-0c2d48e4f2cd","name":"Запрос в LightRAG"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d86e7d86-41b4-4a68-ab6d-08e6928d4f7d","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1264,112],"id":"91635acf-d3af-404b-9c94-4bac379a6973","name":"If"},{"parameters":{"jsCode":"let glossary_text = '';\nconst glossary = $('Чтение глоссария').all();\nglossary_text = glossary.map((item) => \n  Object.keys(item.json).length \n  ? `${item.json.name} = ${item.json.translate}${item.json.gender ? ' (gender: ' + (item.json.gender.toLowerCase().includes('муж') ? 'male' : (item.json.gender.toLowerCase().includes('жен') ? 'female' : item.json.gender)) + ').'  : '.'}` : '').join('\\n');\nif (glossary_text.length) {\n  glossary_text = \n`━━━━━━━━━━━━━━━━━━━━━━━━━━━\nГЛОССАРИЙ — ИСТОЧНИК ИСТИНЫ\n━━━━━━━━━━━━━━━━━━━━━━━━━━━\n${glossary_text}`;\n}\n\nreturn { glossary_text };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,-32],"id":"dd0b7c3b-8413-45b1-97a2-6b165602d4ed","name":"Формирование промтов для перевода1"},{"parameters":{"operation":"executeQuery","query":"UPDATE  document_chunks \n  SET \n    result_text = '{{ $json.output.replaceAll(`'`, `''`) }}',\n    updated_at = now(), \n    status = 'done' \n  WHERE \n    id = {{ $('Start Workflow').first().json.id_chunk }}\n  RETURNING\n    status;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1536,192],"id":"245b7169-f945-4c98-963a-44c0708ab807","name":"Запись перевода чанка с постредактурой в бд","executeOnce":true,"retryOnFail":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"A8zKJVQgROH1cnkv","mode":"list","cachedResultUrl":"/workflow/A8zKJVQgROH1cnkv","cachedResultName":"Постредактура"},"workflowInputs":{"mappingMode":"defineBelow","value":{"ko_text":"={{ $('Выбор чанка для перевода').first().json.chunk_text }}","ru_text":"={{ $('Перевод').first().json.output }}","rag":"={{ $('Запрос в LightRAG').first().json.response }}","glossary":"={{ $json.glossary_text }}"},"matchingColumns":[],"schema":[{"id":"ko_text","displayName":"ko_text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ru_text","displayName":"ru_text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"glossary","displayName":"glossary","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rag","displayName":"rag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1680,-32],"id":"9d5ed096-0e54-4b30-9235-cb4375860848","name":"Постредактура"}],"connections":{"Чтение глоссария":{"main":[[{"node":"Чтение текущей арки","type":"main","index":0}]]},"Чтение промтов":{"main":[[{"node":"Чтение глоссария","type":"main","index":0}]]},"Формирование промтов для перевода":{"main":[[{"node":"Перевод чанка","type":"main","index":0}]]},"Перевод чанка в статус proccessing":{"main":[[{"node":"Получение rolling summary главы для промта","type":"main","index":0}]]},"Получение rolling summary главы для промта":{"main":[[{"node":"Формирование промтов для перевода","type":"main","index":0}]]},"Чтение текущей арки":{"main":[[{"node":"Запрос в LightRAG","type":"main","index":0}]]},"to log":{"main":[[{"node":"Резервный перевод чанка","type":"main","index":0}]]},"Поиск запрещенных слов в переводе":{"main":[[{"node":"Нет запрещенных слов?","type":"main","index":0}]]},"Нет запрещенных слов?":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"to log4","type":"main","index":0}]]},"to log1":{"main":[[{"node":"Запись об ошибке перевода чанка в бд","type":"main","index":0}]]},"Запись об ошибке перевода чанка в бд":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Запись перевода чанка в бд":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"to log6","type":"main","index":0}]]},"to log2":{"main":[[{"node":"Перевод","type":"main","index":0}]]},"to log3":{"main":[[{"node":"Перевод","type":"main","index":0}]]},"to log4":{"main":[[{"node":"Резервный перевод чанка","type":"main","index":0}]]},"Перевод чанка":{"main":[[{"node":"to log2","type":"main","index":0}],[{"node":"to log","type":"main","index":0}]]},"Резервный перевод чанка":{"main":[[{"node":"to log3","type":"main","index":0}],[{"node":"to log1","type":"main","index":0}]]},"Перевод":{"main":[[{"node":"Если не ERROR?","type":"main","index":0}]]},"Если не ERROR?":{"main":[[{"node":"Поиск запрещенных слов в переводе","type":"main","index":0}],[{"node":"to log1","type":"main","index":0}]]},"GPT 5.2 from Polza.ai":{"ai_languageModel":[[{"node":"Перевод чанка","type":"ai_languageModel","index":1}]]},"GPT 5.2 from Neuro AI":{"ai_languageModel":[[{"node":"Перевод чанка","type":"ai_languageModel","index":0}]]},"CLAUDE 4.5 from Neuro":{"ai_languageModel":[[{"node":"Резервный перевод чанка","type":"ai_languageModel","index":0}]]},"CLAUDE 4.5 from Polza.ai":{"ai_languageModel":[[{"node":"Резервный перевод чанка","type":"ai_languageModel","index":1}]]},"to log5":{"main":[[{"node":"Чтение промтов","type":"main","index":0}]]},"Start Workflow":{"main":[[{"node":"Выбор чанка для перевода","type":"main","index":0}]]},"to log6":{"main":[[{"node":"Возрат результата перевода","type":"main","index":0}]]},"Выбор чанка для перевода":{"main":[[{"node":"to log5","type":"main","index":0}]]},"Запрос в LightRAG":{"main":[[{"node":"Перевод чанка в статус proccessing","type":"main","index":0}]]},"If":{"main":[[{"node":"Формирование промтов для перевода1","type":"main","index":0}],[{"node":"Запись перевода чанка в бд","type":"main","index":0}]]},"Формирование промтов для перевода1":{"main":[[{"node":"Постредактура","type":"main","index":0}]]},"Запись перевода чанка с постредактурой в бд":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Постредактура":{"main":[[{"node":"Запись перевода чанка с постредактурой в бд","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Moscow","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"global-error-handler-36id","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataSuccessExecution":"none"},"staticData":null,"meta":null,"pinData":{"Start Workflow":[{"json":{"id_chunk":2865}}]},"versionId":"9e056979-6a06-4946-a8a0-a8862d96f8e4","activeVersionId":null,"versionCounter":444,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-13T19:37:44.067Z","createdAt":"2026-04-13T19:37:44.067Z","role":"workflow:owner","workflowId":"GPARI8V4RBSPL1h39_kHW_TEST","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version 8453b194","description":""}}]