full_core_verified.json
[{"updatedAt": "2026-04-06T04:07:48.175Z", "createdAt": "2026-03-06T02:06:37.154Z", "id": "GPARI8V4RBSPL1h39_kHW", "name": "[\u041f\u0435\u0440\u0435\u0432\u043e\u0434] \u041f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430", "description": "", "active": false, "isArchived": false, "nodes": [{"parameters": {"operation": "executeQuery", "query": "SELECT * FROM document_glossary WHERE job_id IN (SELECT job_id FROM job_current);", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-368, 176], "id": "51afce0c-5c95-4860-b85b-be7d9b48dc9e", "name": "\u0427\u0442\u0435\u043d\u0438\u0435 \u0433\u043b\u043e\u0441\u0441\u0430\u0440\u0438\u044f", "executeOnce": true, "retryOnFail": true, "alwaysOutputData": true, "credentials": {"postgres": {"id": "iGih4QSBWfmpkdGY", "name": "Postgres account"}}}, {"parameters": {"operation": "select", "schema": {"__rl": true, "mode": "list", "value": "public"}, "table": {"__rl": true, "value": "translate_prompts", "mode": "list", "cachedResultName": "translate_prompts"}, "returnAll": true, "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-528, 176], "id": "a23f9ada-511f-46a9-9663-97cb8d42a399", "name": "\u0427\u0442\u0435\u043d\u0438\u0435 \u043f\u0440\u043e\u043c\u0442\u043e\u0432", "executeOnce": true, "alwaysOutputData": true, "retryOnFail": true, "credentials": {"postgres": {"id": "iGih4QSBWfmpkdGY", "name": "Postgres account"}}}, {"parameters": {"jsCode": "let UserPrompt = '';\nlet SystemPrompt = '';\nlet PostProductPrompt = '';\n\n// User prompt\nconst roller_summary = $('\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 rolling summary \u0433\u043b\u0430\u0432\u044b \u0434\u043b\u044f \u043f\u0440\u043e\u043c\u0442\u0430').first().json?.roller_summary;\nif (roller_summary && Object.keys(roller_summary)?.length) {\n  UserPrompt += `\n## \u041a\u0420\u0410\u0422\u041a\u041e\u0415 \u0421\u041e\u0414\u0415\u0420\u0416\u0410\u041d\u0418\u0415 \u041f\u0420\u0415\u0414\u042b\u0414\u0423\u0429\u0415\u0419 \u0413\u041b\u0410\u0412\u042b:\n${JSON.stringify(roller_summary)}\n`;\n}\n\nconst roller_summary_arc = $('\u0427\u0442\u0435\u043d\u0438\u0435 \u0442\u0435\u043a\u0443\u0449\u0435\u0439 \u0430\u0440\u043a\u0438').first().json.summary;\nif (roller_summary_arc && Object.keys(roller_summary_arc)?.length) {\n  UserPrompt += `\n## \u041a\u0420\u0410\u0422\u041a\u041e\u0415 \u041e\u041f\u0418\u0421\u0410\u041d\u0418\u0415 \u0422\u0415\u041a\u0423\u0429\u0415\u0419 \u0410\u0420\u041a\u0418:\n${JSON.stringify(roller_summary_arc)}\n`;\n}\n\nif ($('\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').first().json?.prev_line) {\n  UserPrompt += `\n<CONTEXT_BEFORE>\n${$('\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').first().json.prev_line}\n</CONTEXT_BEFORE>\n`;\n}\n\nUserPrompt += `\n## \u041f\u0415\u0420\u0415\u0412\u0415\u0414\u0418 \u0421\u0422\u0420\u041e\u0413\u041e \u041d\u0410 \u0420\u0423\u0421\u0421\u041a\u0418\u0419:\n${$('\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').first().json.chunk_text}\n`;\n\n//System Prompt\nSystemPrompt += $('\u0427\u0442\u0435\u043d\u0438\u0435 \u043f\u0440\u043e\u043c\u0442\u043e\u0432').all().find(item => item.json.name === 'BP Default')?.json?.prompt || '';\n\nlet glossary_text = '';\nconst glossary = $('\u0427\u0442\u0435\u043d\u0438\u0435 \u0433\u043b\u043e\u0441\u0441\u0430\u0440\u0438\u044f').all();\nglossary_text = glossary.map((item) => \n  Object.keys(item.json).length \n  ? `${item.json.name} = ${item.json.translate}${item.json.gender ? ' (gender: ' + (item.json.gender.toLowerCase().includes('\u043c\u0443\u0436') ? 'male' : (item.json.gender.toLowerCase().includes('\u0436\u0435\u043d') ? 'female' : item.json.gender)) + ').'  : '.'}` : '').join('\\n');\nif (glossary_text.length) {\n  glossary_text = \n`\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\n\u0413\u041b\u041e\u0421\u0421\u0410\u0420\u0418\u0419 \u2014 \u0418\u0421\u0422\u041e\u0427\u041d\u0418\u041a \u0418\u0421\u0422\u0418\u041d\u042b\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\n${glossary_text}`;\n}\nSystemPrompt = SystemPrompt.replace('{{GLOSSARY}}', glossary_text)\n\nlet customPrompt = $('\u0427\u0442\u0435\u043d\u0438\u0435 \u043f\u0440\u043e\u043c\u0442\u043e\u0432').all().find(item => item.json.name === 'BP BL')?.json?.prompt || '';\nif (customPrompt) {\n  customPrompt =`\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\nROMAN_RULES \u2014 \u041f\u0420\u0418\u041c\u0415\u041d\u042f\u0422\u042c \u0412\u0421\u0415\u0413\u0414\u0410. \u0411\u0415\u0417 \u0418\u0421\u041a\u041b\u042e\u0427\u0415\u041d\u0418\u0419.\n\u0418\u041c\u0415\u042e\u0422 \u041f\u0420\u0418\u041e\u0420\u0418\u0422\u0415\u0422 \u041d\u0410\u0414 \u0412\u0421\u0415\u041c\u0418 \u041e\u0421\u0422\u0410\u041b\u042c\u041d\u042b\u041c\u0418 \u041f\u0420\u0410\u0412\u0418\u041b\u0410\u041c\u0418.\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\n${customPrompt}`;\n}\nSystemPrompt = SystemPrompt.replace('{{ROMAN_RULES}}', customPrompt)\n\nlet contestBefore_text = ''\nif ($('\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').first().json?.prev_line) {\n  contestBefore_text += `\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\n\u0421\u0415\u041a\u0426\u0418\u042f<CONTEXT_BEFORE>\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\n\u041d\u0415 \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0438\u0442\u044c.\n\u0418\u0441\u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u044c \u0442\u043e\u043b\u044c\u043a\u043e \u0434\u043b\u044f \u0443\u043b\u0443\u0447\u0448\u0435\u043d\u0438\u044f \u0441\u0432\u044f\u0437\u043d\u043e\u0441\u0442\u0438 \u043e\u0441\u043d\u043e\u0432\u043d\u043e\u0433\u043e \u0442\u0435\u043a\u0441\u0442\u0430.\n`\n}\nSystemPrompt = SystemPrompt.replace('{{CONTEXT_BEFORE}}', contestBefore_text)\n\nconst light_rag = `\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\n\u0411\u0410\u0417\u0410 \u0417\u041d\u0410\u041d\u0418\u0419 \u041c\u0418\u0420\u0410 (\u041a\u041e\u041d\u0422\u0415\u041a\u0421\u0422 \u0418\u0417 RAG)\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\n\u0421\u043b\u0435\u0434\u0443\u044e\u0449\u0438\u0435 \u0444\u0430\u043a\u0442\u044b \u0438\u0437\u0432\u043b\u0435\u0447\u0435\u043d\u044b \u0438\u0437 \u0438\u0441\u0442\u043e\u0440\u0438\u0438 \u043d\u043e\u0432\u0435\u043b\u043b\u044b. \u0418\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0439 \u0438\u0445 \u0434\u043b\u044f \u0441\u043e\u0431\u043b\u044e\u0434\u0435\u043d\u0438\u044f \u043b\u043e\u0433\u0438\u043a\u0438 \u0441\u043e\u0431\u044b\u0442\u0438\u0439 \u0438 \u043e\u0442\u043d\u043e\u0448\u0435\u043d\u0438\u0439 \u043c\u0435\u0436\u0434\u0443 \u043f\u0435\u0440\u0441\u043e\u043d\u0430\u0436\u0430\u043c\u0438:\n${$('\u0417\u0430\u043f\u0440\u043e\u0441 \u0432 LightRAG').first().json.response}\n`;\nSystemPrompt = SystemPrompt.replace('{{LIGHT_RAG}}', light_rag)\n\nlet isRomanRules = '\u0427\u0451\u0442\u043a\u043e \u043e\u0442\u0441\u043b\u0435\u0436\u0438\u0432\u0430\u0435\u0442\u0441\u044f, \u043a\u0442\u043e \u0433\u043e\u0432\u043e\u0440\u0438\u0442 \u0438 \u043a\u0442\u043e \u0434\u0435\u0439\u0441\u0442\u0432\u0443\u0435\u0442?';\nif (customPrompt) isRomanRules = 'ROMAN_RULES \u0441\u043e\u0431\u043b\u044e\u0434\u0435\u043d\u044b?';\nSystemPrompt = SystemPrompt.replace('{{IS_ROMAN_RULES}}', isRomanRules)\n\nreturn { UserPrompt, SystemPrompt, PostProductPrompt };\n"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-352, 384], "id": "5afbff5e-93f0-4be1-8a61-5bed4aa9f112", "name": "\u0424\u043e\u0440\u043c\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435 \u043f\u0440\u043e\u043c\u0442\u043e\u0432 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430"}, {"parameters": {"operation": "executeQuery", "query": "UPDATE  document_chunks SET status = 'processing', updated_at = now()\n  WHERE id = {{ $('\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').first().json.id }};\n\nUPDATE  document_chapters SET status = 'processing', updated_at = now()\n  WHERE id = {{ $('\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').item.json.chapter }};\n  ", "options": {"queryReplacement": "='{{ $input.all() }}'"}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-768, 384], "id": "b49cd2cc-8887-4638-8d60-5ba740f4c6cf", "name": "\u041f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430 \u0432 \u0441\u0442\u0430\u0442\u0443\u0441 proccessing", "executeOnce": true, "alwaysOutputData": true, "retryOnFail": true, "credentials": {"postgres": {"id": "iGih4QSBWfmpkdGY", "name": "Postgres account"}}}, {"parameters": {"operation": "executeQuery", "query": "SELECT * FROM document_chapters WHERE job_id IN (SELECT job_id FROM job_current) AND id = {{ $('\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').item.json.chapter }};", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-560, 384], "id": "758487df-aee5-4de1-bea4-f24c5cdcc98f", "name": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 rolling summary \u0433\u043b\u0430\u0432\u044b \u0434\u043b\u044f \u043f\u0440\u043e\u043c\u0442\u0430", "executeOnce": true, "alwaysOutputData": true, "retryOnFail": true, "credentials": {"postgres": {"id": "iGih4QSBWfmpkdGY", "name": "Postgres account"}}}, {"parameters": {"operation": "executeQuery", "query": "SELECT * FROM document_arcs WHERE job_id IN (SELECT job_id FROM job_current) AND id IN (SELECT current_arc FROM job_current)", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-1136, 384], "id": "6cfffdb1-87f0-476e-844b-36166dcd0606", "name": "\u0427\u0442\u0435\u043d\u0438\u0435 \u0442\u0435\u043a\u0443\u0449\u0435\u0439 \u0430\u0440\u043a\u0438", "executeOnce": true, "alwaysOutputData": true, "retryOnFail": true, "credentials": {"postgres": {"id": "iGih4QSBWfmpkdGY", "name": "Postgres account"}}}, {"parameters": {"schema": {"__rl": true, "mode": "list", "value": "public"}, "table": {"__rl": true, "value": "document_log", "mode": "list", "cachedResultName": "document_log"}, "columns": {"mappingMode": "defineBelow", "value": {"job_id": "={{ $('\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').first().json.job_id }}", "log": "={{ $json.error }}", "type": "error", "node": "\u041f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430"}, "matchingColumns": ["id"], "schema": [{"id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "number", "canBeUsedToMatch": true, "removed": true}, {"id": "job_id", "displayName": "job_id", "required": true, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true}, {"id": "date_time", "displayName": "date_time", "required": false, "defaultMatch": false, "display": true, "type": "time", "canBeUsedToMatch": true, "removed": true}, {"id": "node", "displayName": "node", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "type", "displayName": "type", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "log", "displayName": "log", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [208, 528], "id": "b5ef91eb-a348-4b13-a28b-f55736907c9e", "name": "to log", "alwaysOutputData": true, "executeOnce": true, "credentials": {"postgres": {"id": "iGih4QSBWfmpkdGY", "name": "Postgres account"}}}, {"parameters": {"schema": {"__rl": true, "mode": "list", "value": "public"}, "table": {"__rl": true, "value": "document_log", "mode": "list", "cachedResultName": "document_log"}, "columns": {"mappingMode": "defineBelow", "value": {"job_id": "={{ $('\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').first().json.job_id }}", "log": "={{ $json.error }}", "type": "error", "node": "\u0420\u0435\u0437\u0435\u0440\u0432\u043d\u044b\u0439 \u043f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430"}, "matchingColumns": ["id"], "schema": [{"id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "number", "canBeUsedToMatch": true, "removed": true}, {"id": "job_id", "displayName": "job_id", "required": true, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true}, {"id": "date_time", "displayName": "date_time", "required": false, "defaultMatch": false, "display": true, "type": "time", "canBeUsedToMatch": true, "removed": true}, {"id": "node", "displayName": "node", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "type", "displayName": "type", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "log", "displayName": "log", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1136, 544], "id": "73419903-f9f5-42f6-a7ad-f6d01c3febb2", "name": "to log1", "alwaysOutputData": true, "executeOnce": true, "credentials": {"postgres": {"id": "iGih4QSBWfmpkdGY", "name": "Postgres account"}}}, {"parameters": {"jsCode": "const text = $('\u041f\u0435\u0440\u0435\u0432\u043e\u0434').first().json.output;\nlet is_retranslate = false;\n\nif (!text || text.includes([`I'm sorry, but I cannot assist with that request`, `\u0418\u0437\u0432\u0438\u043d\u0438\u0442\u0435, \u044f \u043d\u0435 \u043c\u043e\u0433\u0443 \u043f\u043e\u043c\u043e\u0447\u044c \u0441 \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u043e\u043c \u044d\u0442\u043e\u0433\u043e \u0444\u0440\u0430\u0433\u043c\u0435\u043d\u0442\u0430`])) is_retranslate = true;\nreturn { is_retranslate }"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [864, 224], "id": "73fa729c-08de-441a-b66d-2097429ad03e", "name": "\u041f\u043e\u0438\u0441\u043a \u0437\u0430\u043f\u0440\u0435\u0449\u0435\u043d\u043d\u044b\u0445 \u0441\u043b\u043e\u0432 \u0432 \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0435"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "646d622b-f8e5-431b-8383-cc289994a55c", "leftValue": "={{ $json.is_retranslate }}", "rightValue": false, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [1056, 224], "id": "c6378a1b-8e4e-4073-afd0-89f36e7a9dda", "name": "\u041d\u0435\u0442 \u0437\u0430\u043f\u0440\u0435\u0449\u0435\u043d\u043d\u044b\u0445 \u0441\u043b\u043e\u0432?"}, {"parameters": {"operation": "executeQuery", "query": "UPDATE  document_chunks \n  SET \n    result_text = '{{ $('\u041f\u0435\u0440\u0435\u0432\u043e\u0434').first().json.output.replaceAll(`'`, `''`) }}',\n    updated_at = now(), \n    status = 'done' \n  WHERE \n    id = {{ $('Start Workflow').first().json.id_chunk }}\n  RETURNING\n    status;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1536, 368], "id": "89a17d58-0325-4332-9bf3-13fa995b9153", "name": "\u0417\u0430\u043f\u0438\u0441\u044c \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430 \u0447\u0430\u043d\u043a\u0430 \u0432 \u0431\u0434", "executeOnce": true, "retryOnFail": true, "alwaysOutputData": true, "credentials": {"postgres": {"id": "iGih4QSBWfmpkdGY", "name": "Postgres account"}}}, {"parameters": {"operation": "executeQuery", "query": "UPDATE  document_chunks \n  SET \n    result_text = '',\n    updated_at = now(), \n    status = 'error' \n  WHERE \n    id = {{ $('Start Workflow').first().json.id_chunk }}\n  RETURNING\n    status;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1344, 544], "id": "9caa5df0-397d-42d7-be5b-52e220aa441c", "name": "\u0417\u0430\u043f\u0438\u0441\u044c \u043e\u0431 \u043e\u0448\u0438\u0431\u043a\u0435 \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430 \u0447\u0430\u043d\u043a\u0430 \u0432 \u0431\u0434", "executeOnce": true, "retryOnFail": true, "alwaysOutputData": true, "credentials": {"postgres": {"id": "iGih4QSBWfmpkdGY", "name": "Postgres account"}}}, {"parameters": {}, "type": "n8n-nodes-base.merge", "typeVersion": 3.2, "position": [1824, 384], "id": "62a88517-7147-4533-8be6-93be8af25e74", "name": "Merge1"}, {"parameters": {"operation": "executeQuery", "query": "SELECT  \n    status \n  FROM\n    document_chunks \n  WHERE \n    id = {{ $('Start Workflow').first().json.id_chunk }};", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [2128, 384], "id": "0f45ddf7-970a-4a7c-a335-d908ae732f06", "name": "\u0412\u043e\u0437\u0440\u0430\u0442 \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u0430 \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430", "executeOnce": true, "retryOnFail": true, "alwaysOutputData": true, "credentials": {"postgres": {"id": "iGih4QSBWfmpkdGY", "name": "Postgres account"}}}, {"parameters": {"schema": {"__rl": true, "mode": "list", "value": "public"}, "table": {"__rl": true, "value": "document_log", "mode": "list", "cachedResultName": "document_log"}, "columns": {"mappingMode": "defineBelow", "value": {"job_id": "={{ $('\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').first().json.job_id }}", "log": "=\u041f\u0435\u0440\u0435\u0432\u043e\u0434 \u0441\u0434\u0435\u043b\u0430\u043d GPT", "node": "\u041f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430", "type": "Info"}, "matchingColumns": ["id"], "schema": [{"id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "number", "canBeUsedToMatch": true, "removed": true}, {"id": "job_id", "displayName": "job_id", "required": true, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true}, {"id": "date_time", "displayName": "date_time", "required": false, "defaultMatch": false, "display": true, "type": "time", "canBeUsedToMatch": true, "removed": true}, {"id": "node", "displayName": "node", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "type", "displayName": "type", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "log", "displayName": "log", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [208, 240], "id": "08182cfc-cfda-4be4-bc96-1133f49d4e0c", "name": "to log2", "alwaysOutputData": true, "executeOnce": true, "credentials": {"postgres": {"id": "iGih4QSBWfmpkdGY", "name": "Postgres account"}}}, {"parameters": {"schema": {"__rl": true, "mode": "list", "value": "public"}, "table": {"__rl": true, "value": "document_log", "mode": "list", "cachedResultName": "document_log"}, "columns": {"mappingMode": "defineBelow", "value": {"job_id": "={{ $('\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').first().json.job_id }}", "log": "=\u041f\u0435\u0440\u0435\u0432\u043e\u0434 \u0441\u0434\u0435\u043b\u0430\u043d CLAUDE", "node": "\u041f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430", "type": "Info"}, "matchingColumns": ["id"], "schema": [{"id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "number", "canBeUsedToMatch": true, "removed": true}, {"id": "job_id", "displayName": "job_id", "required": true, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true}, {"id": "date_time", "displayName": "date_time", "required": false, "defaultMatch": false, "display": true, "type": "time", "canBeUsedToMatch": true, "removed": true}, {"id": "node", "displayName": "node", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "type", "displayName": "type", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "log", "displayName": "log", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [816, 512], "id": "aadfe552-bae5-4848-838b-a98722f557f9", "name": "to log3", "alwaysOutputData": true, "executeOnce": true, "credentials": {"postgres": {"id": "iGih4QSBWfmpkdGY", "name": "Postgres account"}}}, {"parameters": {"schema": {"__rl": true, "mode": "list", "value": "public"}, "table": {"__rl": true, "value": "document_log", "mode": "list", "cachedResultName": "document_log"}, "columns": {"mappingMode": "defineBelow", "value": {"job_id": "={{ $('\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').first().json.job_id }}", "log": "=\u041d\u0430\u0439\u0434\u0435\u043d\u044b \u0437\u0430\u043f\u0440\u0435\u0449\u0435\u043d\u043d\u044b\u0435 \u0441\u043b\u043e\u0432\u0430 \u0432 \u0447\u0430\u043d\u043a\u0435 {\nid: {{ $('\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').first().json.id }},\njob_id: {{ $('\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').first().json.job_id }}\nchunk_text: {{ $('\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').first().json.chunk_text }}\ntranslate_text: {{ $('\u041f\u0435\u0440\u0435\u0432\u043e\u0434').first().json.output }}\n}", "node": "\u041f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430", "type": "Info"}, "matchingColumns": ["id"], "schema": [{"id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "number", "canBeUsedToMatch": true, "removed": true}, {"id": "job_id", "displayName": "job_id", "required": true, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true}, {"id": "date_time", "displayName": "date_time", "required": false, "defaultMatch": false, "display": true, "type": "time", "canBeUsedToMatch": true, "removed": true}, {"id": "node", "displayName": "node", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "type", "displayName": "type", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "log", "displayName": "log", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1280, 304], "id": "624f1099-bc1e-4285-8291-259cfb76d881", "name": "to log4", "alwaysOutputData": true, "executeOnce": true, "credentials": {"postgres": {"id": "iGih4QSBWfmpkdGY", "name": "Postgres account"}}}, {"parameters": {"promptType": "define", "text": "={{ $json.UserPrompt }}\n", "needsFallback": true, "options": {"systemMessage": "={{ $json.SystemPrompt }}"}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3.1, "position": [-176, 384], "id": "543d5780-0a44-4599-b5e2-b7c16366fef6", "name": "\u041f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430", "retryOnFail": true, "onError": "continueErrorOutput"}, {"parameters": {"promptType": "define", "text": "={{ $('\u0424\u043e\u0440\u043c\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435 \u043f\u0440\u043e\u043c\u0442\u043e\u0432 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').first().json.UserPrompt }}\n", "needsFallback": true, "options": {"systemMessage": "={{ $('\u0424\u043e\u0440\u043c\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435 \u043f\u0440\u043e\u043c\u0442\u043e\u0432 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').first().json.SystemPrompt }}"}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3.1, "position": [496, 528], "id": "20ec1c5d-6d36-4466-b781-801f7172bc7a", "name": "\u0420\u0435\u0437\u0435\u0440\u0432\u043d\u044b\u0439 \u043f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430", "retryOnFail": true, "onError": "continueErrorOutput"}, {"parameters": {"jsCode": "let output = $('\u041f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430').first().json.output;\nif (output) return { output };\ntry {\n  output = $('\u0420\u0435\u0437\u0435\u0440\u0432\u043d\u044b\u0439 \u043f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430').first().json.output;\n  if (output) return { output };  \n  return { output: 'ERROR' }\n} catch {\n  return { output: '' }  \n}"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [432, 240], "id": "235335a0-49fe-454e-9c6b-e362e5eea790", "name": "\u041f\u0435\u0440\u0435\u0432\u043e\u0434", "alwaysOutputData": true, "executeOnce": true}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "266bf234-c519-40d4-9d65-6db8d2444cf9", "leftValue": "={{ $json.output }}", "rightValue": "ERROR", "operator": {"type": "string", "operation": "notEquals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [608, 240], "id": "333dea37-abfe-4b84-ae08-90daab1b4cf5", "name": "\u0415\u0441\u043b\u0438 \u043d\u0435 ERROR?"}, {"parameters": {"model": {"__rl": true, "value": "openai/gpt-5.2-chat", "mode": "list", "cachedResultName": "openai/gpt-5.2-chat"}, "builtInTools": {}, "options": {}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.3, "position": [-80, 640], "id": "d34873fb-ad5e-48bd-986d-6df165812644", "name": "GPT 5.2 from Polza.ai", "credentials": {"openAiApi": {"id": "oyDHju4LEcPX94u4", "name": "polza.ai"}}}, {"parameters": {"model": {"__rl": true, "value": "gpt-5.2-chat-latest", "mode": "list", "cachedResultName": "gpt-5.2-chat-latest"}, "builtInTools": {}, "options": {}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.3, "position": [-256, 640], "id": "6eb9814f-952b-4ec0-a4a4-f5812ffb7373", "name": "GPT 5.2 from Neuro AI", "credentials": {"openAiApi": {"id": "BsGSDSjRdNfiWliT", "name": "Neuroapi"}}}, {"parameters": {"model": {"__rl": true, "value": "claude-sonnet-4-5-20250929", "mode": "list", "cachedResultName": "claude-sonnet-4-5-20250929"}, "builtInTools": {}, "options": {}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.3, "position": [384, 784], "id": "98d4af8b-4afb-4c11-a7e1-9d4c4a454286", "name": "CLAUDE 4.5 from Neuro", "credentials": {"openAiApi": {"id": "BsGSDSjRdNfiWliT", "name": "Neuroapi"}}}, {"parameters": {"model": {"__rl": true, "value": "anthropic/claude-sonnet-4.5", "mode": "list", "cachedResultName": "anthropic/claude-sonnet-4.5"}, "builtInTools": {}, "options": {}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.3, "position": [560, 784], "id": "190612b0-d884-4eb4-9349-9a2bd041cfd4", "name": "CLAUDE 4.5 from Polza.ai", "credentials": {"openAiApi": {"id": "oyDHju4LEcPX94u4", "name": "polza.ai"}}}, {"parameters": {"schema": {"__rl": true, "mode": "list", "value": "public"}, "table": {"__rl": true, "value": "document_log", "mode": "list", "cachedResultName": "document_log"}, "columns": {"mappingMode": "defineBelow", "value": {"job_id": "={{ $('\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').first().json.job_id }}", "log": "=Start", "node": "\u041f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430", "type": "Info"}, "matchingColumns": ["id"], "schema": [{"id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "number", "canBeUsedToMatch": true, "removed": true}, {"id": "job_id", "displayName": "job_id", "required": true, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true}, {"id": "date_time", "displayName": "date_time", "required": false, "defaultMatch": false, "display": true, "type": "time", "canBeUsedToMatch": true, "removed": true}, {"id": "node", "displayName": "node", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "type", "displayName": "type", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "log", "displayName": "log", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-672, 176], "id": "6eee0806-4d76-4f99-9e83-02f988ddf7a3", "name": "to log5", "alwaysOutputData": true, "executeOnce": true, "credentials": {"postgres": {"id": "iGih4QSBWfmpkdGY", "name": "Postgres account"}}}, {"parameters": {"workflowInputs": {"values": [{"name": "id_chunk", "type": "number"}]}}, "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1, "position": [-1024, 176], "id": "c047c795-b60b-43b0-8e7b-e3684b35d0eb", "name": "Start Workflow", "alwaysOutputData": true, "executeOnce": true, "retryOnFail": true, "onError": "continueRegularOutput"}, {"parameters": {"schema": {"__rl": true, "mode": "list", "value": "public"}, "table": {"__rl": true, "value": "document_log", "mode": "list", "cachedResultName": "document_log"}, "columns": {"mappingMode": "defineBelow", "value": {"job_id": "={{ $('\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').first().json.job_id }}", "log": "=Finish", "node": "\u041f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430", "type": "Info"}, "matchingColumns": ["id"], "schema": [{"id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "number", "canBeUsedToMatch": true, "removed": true}, {"id": "job_id", "displayName": "job_id", "required": true, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true}, {"id": "date_time", "displayName": "date_time", "required": false, "defaultMatch": false, "display": true, "type": "time", "canBeUsedToMatch": true, "removed": true}, {"id": "node", "displayName": "node", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "type", "displayName": "type", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "log", "displayName": "log", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1968, 384], "id": "4e672240-b115-4fd4-9733-8e3f780554bc", "name": "to log6", "alwaysOutputData": true, "executeOnce": true, "credentials": {"postgres": {"id": "iGih4QSBWfmpkdGY", "name": "Postgres account"}}}, {"parameters": {"operation": "executeQuery", "query": "SELECT * FROM document_chunks WHERE id = {{ $('Start Workflow').first().json.id_chunk }}", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-832, 176], "id": "65a61df0-2772-47f3-8f25-c5b18a21d440", "name": "\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430", "executeOnce": true, "alwaysOutputData": true, "retryOnFail": true, "credentials": {"postgres": {"id": "iGih4QSBWfmpkdGY", "name": "Postgres account"}}}, {"parameters": {"workflowId": {"__rl": true, "value": "AW58nseQdLtJn5ZO", "mode": "list", "cachedResultUrl": "/workflow/AW58nseQdLtJn5ZO", "cachedResultName": "sub_lightrag_api"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"action": "query", "text": "={{ $('\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').item.json.chunk_text }}"}, "matchingColumns": [], "schema": [{"id": "action", "displayName": "action", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false}, {"id": "text", "displayName": "text", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false}, {"id": "texts", "displayName": "texts", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "array", "removed": true}, {"id": "meta_data", "displayName": "meta_data", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": true}], "attemptToConvertTypes": false, "convertFieldsToString": true}, "options": {"waitForSubWorkflow": true}}, "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [-944, 384], "id": "c3474b7a-78ad-471e-b177-0c2d48e4f2cd", "name": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0432 LightRAG"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "d86e7d86-41b4-4a68-ab6d-08e6928d4f7d", "leftValue": "", "rightValue": "", "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [1264, 112], "id": "91635acf-d3af-404b-9c94-4bac379a6973", "name": "If"}, {"parameters": {"jsCode": "let glossary_text = '';\nconst glossary = $('\u0427\u0442\u0435\u043d\u0438\u0435 \u0433\u043b\u043e\u0441\u0441\u0430\u0440\u0438\u044f').all();\nglossary_text = glossary.map((item) => \n  Object.keys(item.json).length \n  ? `${item.json.name} = ${item.json.translate}${item.json.gender ? ' (gender: ' + (item.json.gender.toLowerCase().includes('\u043c\u0443\u0436') ? 'male' : (item.json.gender.toLowerCase().includes('\u0436\u0435\u043d') ? 'female' : item.json.gender)) + ').'  : '.'}` : '').join('\\n');\nif (glossary_text.length) {\n  glossary_text = \n`\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\n\u0413\u041b\u041e\u0421\u0421\u0410\u0420\u0418\u0419 \u2014 \u0418\u0421\u0422\u041e\u0427\u041d\u0418\u041a \u0418\u0421\u0422\u0418\u041d\u042b\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\n${glossary_text}`;\n}\n\nreturn { glossary_text };\n"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1488, -32], "id": "dd0b7c3b-8413-45b1-97a2-6b165602d4ed", "name": "\u0424\u043e\u0440\u043c\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435 \u043f\u0440\u043e\u043c\u0442\u043e\u0432 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u04301"}, {"parameters": {"operation": "executeQuery", "query": "UPDATE  document_chunks \n  SET \n    result_text = '{{ $json.output.replaceAll(`'`, `''`) }}',\n    updated_at = now(), \n    status = 'done' \n  WHERE \n    id = {{ $('Start Workflow').first().json.id_chunk }}\n  RETURNING\n    status;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1536, 192], "id": "245b7169-f945-4c98-963a-44c0708ab807", "name": "\u0417\u0430\u043f\u0438\u0441\u044c \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430 \u0447\u0430\u043d\u043a\u0430 \u0441 \u043f\u043e\u0441\u0442\u0440\u0435\u0434\u0430\u043a\u0442\u0443\u0440\u043e\u0439 \u0432 \u0431\u0434", "executeOnce": true, "retryOnFail": true, "alwaysOutputData": true, "credentials": {"postgres": {"id": "iGih4QSBWfmpkdGY", "name": "Postgres account"}}}, {"parameters": {"workflowId": {"__rl": true, "value": "A8zKJVQgROH1cnkv", "mode": "list", "cachedResultUrl": "/workflow/A8zKJVQgROH1cnkv", "cachedResultName": "\u041f\u043e\u0441\u0442\u0440\u0435\u0434\u0430\u043a\u0442\u0443\u0440\u0430"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"ko_text": "={{ $('\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430').first().json.chunk_text }}", "ru_text": "={{ $('\u041f\u0435\u0440\u0435\u0432\u043e\u0434').first().json.output }}", "rag": "={{ $('\u0417\u0430\u043f\u0440\u043e\u0441 \u0432 LightRAG').first().json.response }}", "glossary": "={{ $json.glossary_text }}"}, "matchingColumns": [], "schema": [{"id": "ko_text", "displayName": "ko_text", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false}, {"id": "ru_text", "displayName": "ru_text", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false}, {"id": "glossary", "displayName": "glossary", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false}, {"id": "rag", "displayName": "rag", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false}], "attemptToConvertTypes": false, "convertFieldsToString": true}, "options": {}}, "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [1680, -32], "id": "9d5ed096-0e54-4b30-9235-cb4375860848", "name": "\u041f\u043e\u0441\u0442\u0440\u0435\u0434\u0430\u043a\u0442\u0443\u0440\u0430"}], "connections": {"\u0427\u0442\u0435\u043d\u0438\u0435 \u0433\u043b\u043e\u0441\u0441\u0430\u0440\u0438\u044f": {"main": [[{"node": "\u0427\u0442\u0435\u043d\u0438\u0435 \u0442\u0435\u043a\u0443\u0449\u0435\u0439 \u0430\u0440\u043a\u0438", "type": "main", "index": 0}]]}, "\u0427\u0442\u0435\u043d\u0438\u0435 \u043f\u0440\u043e\u043c\u0442\u043e\u0432": {"main": [[{"node": "\u0427\u0442\u0435\u043d\u0438\u0435 \u0433\u043b\u043e\u0441\u0441\u0430\u0440\u0438\u044f", "type": "main", "index": 0}]]}, "\u0424\u043e\u0440\u043c\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435 \u043f\u0440\u043e\u043c\u0442\u043e\u0432 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430": {"main": [[{"node": "\u041f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430", "type": "main", "index": 0}]]}, "\u041f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430 \u0432 \u0441\u0442\u0430\u0442\u0443\u0441 proccessing": {"main": [[{"node": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 rolling summary \u0433\u043b\u0430\u0432\u044b \u0434\u043b\u044f \u043f\u0440\u043e\u043c\u0442\u0430", "type": "main", "index": 0}]]}, "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 rolling summary \u0433\u043b\u0430\u0432\u044b \u0434\u043b\u044f \u043f\u0440\u043e\u043c\u0442\u0430": {"main": [[{"node": "\u0424\u043e\u0440\u043c\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435 \u043f\u0440\u043e\u043c\u0442\u043e\u0432 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430", "type": "main", "index": 0}]]}, "\u0427\u0442\u0435\u043d\u0438\u0435 \u0442\u0435\u043a\u0443\u0449\u0435\u0439 \u0430\u0440\u043a\u0438": {"main": [[{"node": "\u0417\u0430\u043f\u0440\u043e\u0441 \u0432 LightRAG", "type": "main", "index": 0}]]}, "to log": {"main": [[{"node": "\u0420\u0435\u0437\u0435\u0440\u0432\u043d\u044b\u0439 \u043f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430", "type": "main", "index": 0}]]}, "\u041f\u043e\u0438\u0441\u043a \u0437\u0430\u043f\u0440\u0435\u0449\u0435\u043d\u043d\u044b\u0445 \u0441\u043b\u043e\u0432 \u0432 \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0435": {"main": [[{"node": "\u041d\u0435\u0442 \u0437\u0430\u043f\u0440\u0435\u0449\u0435\u043d\u043d\u044b\u0445 \u0441\u043b\u043e\u0432?", "type": "main", "index": 0}]]}, "\u041d\u0435\u0442 \u0437\u0430\u043f\u0440\u0435\u0449\u0435\u043d\u043d\u044b\u0445 \u0441\u043b\u043e\u0432?": {"main": [[{"node": "If", "type": "main", "index": 0}], [{"node": "to log4", "type": "main", "index": 0}]]}, "to log1": {"main": [[{"node": "\u0417\u0430\u043f\u0438\u0441\u044c \u043e\u0431 \u043e\u0448\u0438\u0431\u043a\u0435 \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430 \u0447\u0430\u043d\u043a\u0430 \u0432 \u0431\u0434", "type": "main", "index": 0}]]}, "\u0417\u0430\u043f\u0438\u0441\u044c \u043e\u0431 \u043e\u0448\u0438\u0431\u043a\u0435 \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430 \u0447\u0430\u043d\u043a\u0430 \u0432 \u0431\u0434": {"main": [[{"node": "Merge1", "type": "main", "index": 1}]]}, "\u0417\u0430\u043f\u0438\u0441\u044c \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430 \u0447\u0430\u043d\u043a\u0430 \u0432 \u0431\u0434": {"main": [[{"node": "Merge1", "type": "main", "index": 0}]]}, "Merge1": {"main": [[{"node": "to log6", "type": "main", "index": 0}]]}, "to log2": {"main": [[{"node": "\u041f\u0435\u0440\u0435\u0432\u043e\u0434", "type": "main", "index": 0}]]}, "to log3": {"main": [[{"node": "\u041f\u0435\u0440\u0435\u0432\u043e\u0434", "type": "main", "index": 0}]]}, "to log4": {"main": [[{"node": "\u0420\u0435\u0437\u0435\u0440\u0432\u043d\u044b\u0439 \u043f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430", "type": "main", "index": 0}]]}, "\u041f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430": {"main": [[{"node": "to log2", "type": "main", "index": 0}], [{"node": "to log", "type": "main", "index": 0}]]}, "\u0420\u0435\u0437\u0435\u0440\u0432\u043d\u044b\u0439 \u043f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430": {"main": [[{"node": "to log3", "type": "main", "index": 0}], [{"node": "to log1", "type": "main", "index": 0}]]}, "\u041f\u0435\u0440\u0435\u0432\u043e\u0434": {"main": [[{"node": "\u0415\u0441\u043b\u0438 \u043d\u0435 ERROR?", "type": "main", "index": 0}]]}, "\u0415\u0441\u043b\u0438 \u043d\u0435 ERROR?": {"main": [[{"node": "\u041f\u043e\u0438\u0441\u043a \u0437\u0430\u043f\u0440\u0435\u0449\u0435\u043d\u043d\u044b\u0445 \u0441\u043b\u043e\u0432 \u0432 \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0435", "type": "main", "index": 0}], [{"node": "to log1", "type": "main", "index": 0}]]}, "GPT 5.2 from Polza.ai": {"ai_languageModel": [[{"node": "\u041f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430", "type": "ai_languageModel", "index": 1}]]}, "GPT 5.2 from Neuro AI": {"ai_languageModel": [[{"node": "\u041f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430", "type": "ai_languageModel", "index": 0}]]}, "CLAUDE 4.5 from Neuro": {"ai_languageModel": [[{"node": "\u0420\u0435\u0437\u0435\u0440\u0432\u043d\u044b\u0439 \u043f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430", "type": "ai_languageModel", "index": 0}]]}, "CLAUDE 4.5 from Polza.ai": {"ai_languageModel": [[{"node": "\u0420\u0435\u0437\u0435\u0440\u0432\u043d\u044b\u0439 \u043f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430", "type": "ai_languageModel", "index": 1}]]}, "to log5": {"main": [[{"node": "\u0427\u0442\u0435\u043d\u0438\u0435 \u043f\u0440\u043e\u043c\u0442\u043e\u0432", "type": "main", "index": 0}]]}, "Start Workflow": {"main": [[{"node": "\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430", "type": "main", "index": 0}]]}, "to log6": {"main": [[{"node": "\u0412\u043e\u0437\u0440\u0430\u0442 \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u0430 \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430", "type": "main", "index": 0}]]}, "\u0412\u044b\u0431\u043e\u0440 \u0447\u0430\u043d\u043a\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430": {"main": [[{"node": "to log5", "type": "main", "index": 0}]]}, "\u0417\u0430\u043f\u0440\u043e\u0441 \u0432 LightRAG": {"main": [[{"node": "\u041f\u0435\u0440\u0435\u0432\u043e\u0434 \u0447\u0430\u043d\u043a\u0430 \u0432 \u0441\u0442\u0430\u0442\u0443\u0441 proccessing", "type": "main", "index": 0}]]}, "If": {"main": [[{"node": "\u0424\u043e\u0440\u043c\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435 \u043f\u0440\u043e\u043c\u0442\u043e\u0432 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u04301", "type": "main", "index": 0}], [{"node": "\u0417\u0430\u043f\u0438\u0441\u044c \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430 \u0447\u0430\u043d\u043a\u0430 \u0432 \u0431\u0434", "type": "main", "index": 0}]]}, "\u0424\u043e\u0440\u043c\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435 \u043f\u0440\u043e\u043c\u0442\u043e\u0432 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u04301": {"main": [[{"node": "\u041f\u043e\u0441\u0442\u0440\u0435\u0434\u0430\u043a\u0442\u0443\u0440\u0430", "type": "main", "index": 0}]]}, "\u0417\u0430\u043f\u0438\u0441\u044c \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430 \u0447\u0430\u043d\u043a\u0430 \u0441 \u043f\u043e\u0441\u0442\u0440\u0435\u0434\u0430\u043a\u0442\u0443\u0440\u043e\u0439 \u0432 \u0431\u0434": {"main": [[{"node": "Merge1", "type": "main", "index": 0}]]}, "\u041f\u043e\u0441\u0442\u0440\u0435\u0434\u0430\u043a\u0442\u0443\u0440\u0430": {"main": [[{"node": "\u0417\u0430\u043f\u0438\u0441\u044c \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0430 \u0447\u0430\u043d\u043a\u0430 \u0441 \u043f\u043e\u0441\u0442\u0440\u0435\u0434\u0430\u043a\u0442\u0443\u0440\u043e\u0439 \u0432 \u0431\u0434", "type": "main", "index": 0}]]}}, "settings": {"timezone": "Europe/Moscow", "binaryMode": "separate", "callerPolicy": "workflowsFromSameOwner", "errorWorkflow": "global-error-handler-36id", "timeSavedMode": "fixed", "availableInMCP": false, "executionOrder": "v1", "saveFailedExecution": "all", "saveManualExecutions": true, "saveExecutionProgress": "none", "saveDataSuccessExecution": "none"}, "staticData": null, "meta": null, "pinData": {"Start Workflow": [{"json": {"id_chunk": 2865}}]}, "versionId": "1a7dada1-4f84-45e4-93dd-8278d27cd4c0", "activeVersionId": null, "versionCounter": 445, "triggerCount": 0, "tags": [], "shared": [{"updatedAt": "2026-03-25T03:35:45.742Z", "createdAt": "2026-03-25T03:35:45.742Z", "role": "workflow:owner", "workflowId": "GPARI8V4RBSPL1h39_kHW", "projectId": "laKLUPkuQseBWQhm", "project": {"updatedAt": "2026-03-24T19:39:31.833Z", "createdAt": "2026-03-24T18:56:12.129Z", "id": "laKLUPkuQseBWQhm", "name": "\u0410\u043b\u0435\u043a\u0441\u0435\u0439 bigalex <alexei.bigalex@yandex.ru>", "type": "personal", "icon": null, "description": null, "creatorId": "72a067d6-c26f-4653-90ff-323299f21ddd"}}], "versionMetadata": {"name": "Version 8453b194", "description": ""}}]