main_workflow_send_message_webhook.json
[
  {
    "id": "main_send_message",
    "name": "Send Message",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "send-message",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "webhook_trigger",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [100, 300],
        "webhookId": "send-message-trigger"
      },
      {
        "parameters": {
          "jsCode": "const VALID_MESSAGES = ['create_job', 'start_processing', 'processing', 'error_processing', 'finish_processing', 'stop_processing'];\nconst payload = $('Webhook Trigger').first().json;\nif (!payload || !payload.message) throw new Error('Missing payload.message');\nif (!VALID_MESSAGES.includes(payload.message)) throw new Error(`Invalid message type: ${payload.message}`);\nif (!payload.job_id) throw new Error('Missing job_id in payload');\nconst messageMap = { 'create_job': 'create', 'start_processing': 'start', 'processing': 'process', 'error_processing': 'error', 'finish_processing': 'finish', 'stop_processing': 'stop' };\nreturn { valid: true, job_id: payload.job_id, message_type: payload.message, notify_type: messageMap[payload.message] };"
        },
        "id": "validate_payload",
        "name": "Validate Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [350, 300]
      },
      {
        "parameters": {
          "workflowId": "3fbb84cf-8a84-4ac2-8b33-936ceaa07a0a",
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "id": "get_context",
        "name": "Get Context",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [600, 300]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              { "conditions": { "conditions": [{ "leftValue": "={{ $json.notify_type }}", "rightValue": "create", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "create" },
              { "conditions": { "conditions": [{ "leftValue": "={{ $json.notify_type }}", "rightValue": "start", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "start" },
              { "conditions": { "conditions": [{ "leftValue": "={{ $json.notify_type }}", "rightValue": "process", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "process" },
              { "conditions": { "conditions": [{ "leftValue": "={{ $json.notify_type }}", "rightValue": "error", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "error" },
              { "conditions": { "conditions": [{ "leftValue": "={{ $json.notify_type }}", "rightValue": "finish", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "finish" },
              { "conditions": { "conditions": [{ "leftValue": "={{ $json.notify_type }}", "rightValue": "stop", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "stop" }
            ]
          }
        },
        "id": "router",
        "name": "Router",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [850, 300]
      },
      {
        "parameters": {
          "workflowId": "50eb60b7-9412-4010-9619-f4a2505bd25a",
          "options": { "waitForSubWorkflow": true }
        },
        "id": "task_create_node",
        "name": "Task Create",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [1150, 50]
      },
      {
        "parameters": {
          "workflowId": "9e605f66-35d2-4f8f-ab13-d82a54208a57",
          "options": { "waitForSubWorkflow": true }
        },
        "id": "task_start_node",
        "name": "Task Start",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [1150, 150]
      },
      {
        "parameters": {
          "workflowId": "46ff39dd-d631-4df1-9310-6f351ca97620",
          "options": { "waitForSubWorkflow": true }
        },
        "id": "task_process_node",
        "name": "Task Process",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [1150, 250]
      },
      {
        "parameters": {
          "workflowId": "01ccb964-662a-4d64-9d2e-b9e13f620382",
          "options": { "waitForSubWorkflow": true }
        },
        "id": "task_error_node",
        "name": "Task Error",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [1150, 350]
      },
      {
        "parameters": {
          "workflowId": "8eb0dc61-8ab7-4cf0-9346-50f86072a5fd",
          "options": { "waitForSubWorkflow": true }
        },
        "id": "task_finish_node",
        "name": "Task Finish",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [1150, 450]
      },
      {
        "parameters": {
          "workflowId": "a36f25d0-f3fa-442d-8908-64af9e7b9fe1",
          "options": { "waitForSubWorkflow": true }
        },
        "id": "task_stop_node",
        "name": "Task Stop",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [1150, 550]
      },
      {
        "parameters": {
          "workflowId": "4ae3d7dc-1cd3-47a6-9dd8-057eaec5e808",
          "options": { "waitForSubWorkflow": true }
        },
        "id": "notify_telegram",
        "name": "Notify Telegram",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [1450, 300]
      },
      {
        "parameters": {
          "jsCode": "const notifyResult = $('Notify Telegram').first().json;\nconst jobData = $('Webhook Trigger').first().json;\nreturn { job_id: jobData.job_id, message_type: jobData.message, notify_status: notifyResult.success ? 'sent' : 'error', message_id: notifyResult.message_id, logged_at: new Date().toISOString() };"
        },
        "id": "log_result",
        "name": "Log Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [1700, 300]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [[{ "node": "Validate Payload", "type": "main", "index": 0 }]]
      },
      "Validate Payload": {
        "main": [[{ "node": "Get Context", "type": "main", "index": 0 }]]
      },
      "Get Context": {
        "main": [[{ "node": "Router", "type": "main", "index": 0 }]]
      },
      "Router": {
        "main": [
          [{ "node": "Task Create", "type": "main", "index": 0 }],
          [{ "node": "Task Start", "type": "main", "index": 0 }],
          [{ "node": "Task Process", "type": "main", "index": 0 }],
          [{ "node": "Task Error", "type": "main", "index": 0 }],
          [{ "node": "Task Finish", "type": "main", "index": 0 }],
          [{ "node": "Task Stop", "type": "main", "index": 0 }]
        ]
      },
      "Task Create": {
        "main": [[{ "node": "Notify Telegram", "type": "main", "index": 0 }]]
      },
      "Task Start": {
        "main": [[{ "node": "Notify Telegram", "type": "main", "index": 0 }]]
      },
      "Task Process": {
        "main": [[{ "node": "Notify Telegram", "type": "main", "index": 0 }]]
      },
      "Task Error": {
        "main": [[{ "node": "Notify Telegram", "type": "main", "index": 0 }]]
      },
      "Task Finish": {
        "main": [[{ "node": "Notify Telegram", "type": "main", "index": 0 }]]
      },
      "Task Stop": {
        "main": [[{ "node": "Notify Telegram", "type": "main", "index": 0 }]]
      },
      "Notify Telegram": {
        "main": [[{ "node": "Log Result", "type": "main", "index": 0 }]]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1"
    }
  }
]
