master_workflow.json
[{"updatedAt":"2026-04-02T18:23:29.596Z","createdAt":"2026-03-18T01:19:44.892Z","id":"ZdsvkMfRDAU4yLbL3DPcK","name":"Добавление Глоссария","description":"","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1cd51350-e438-47da-a9a0-a7e280ddc1ae","leftValue":"={{ $('Чтение глоссария').first().json.json.mimeType }}","rightValue":"sheet","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"XLSX"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[896,-112],"id":"5bba22d4-b0ab-4d07-a145-ff61c0b15b5e","name":"Switch"},{"parameters":{"operation":"xlsx","binaryPropertyName":"={{ $('Move Binary Data1').first().binary.data }}","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1088,-112],"id":"d4f5d842-5371-4ad7-89a4-ce51c1768aba","name":"Парсим файл с глоссарием"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO document_glossary (job_id, name, translate, gender)\nSELECT \n  {{ $('Start Workflow').first().json.job_id }},\n  t.json->>'KO'  as text,\n  t.json->>'RU' as text,\n  t.json->>'Пол' as text\n  FROM json_to_recordset($1) AS t(json json);","options":{"queryReplacement":"='{{ $input.all() }}'"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1280,-112],"id":"551f374e-f602-4ae2-8946-b635c47431b0","name":"Запись глоссаария в БД","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_log","mode":"list","cachedResultName":"document_log"},"columns":{"mappingMode":"defineBelow","value":{"job_id":"={{ $('Start Workflow').first().json.job_id }}","log":"=Начало обработки глоссария","type":"info","node":"Start"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"job_id","displayName":"job_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"log","displayName":"log","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[368,-112],"id":"95439dd3-8e3b-488b-9655-e3ff57bcfb64","name":"to log4","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"mode":"jsonToBinary","convertAllData":false,"options":{"dataIsBase64":true,"encoding":"utf8","fileName":"={{ $json.json.fileName }}","mimeType":"={{ $json.json.mimeType }}"}},"id":"56d353fa-3afa-4ec6-842e-7b1bd2111804","name":"Move Binary Data1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[720,-112]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  encode(glossary, 'base64') AS data,\n  glossary_data json\nFROM\n  document_files\nORDER BY\n  id DESC\nLIMIT 1;","options":{}},"id":"2212746b-7f91-4613-8b38-9789b6cc5674","name":"Чтение глоссария","type":"n8n-nodes-base.postgres","typeVersion":2.1,"position":[544,-112],"credentials":{"postgres":{"id":"iGih4QSBWfmpkdGY","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"job_id","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[176,-112],"id":"6962b907-fe60-468e-a92b-e2983f6ba7bd","name":"Start Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"AW58nseQdLtJn5ZO","mode":"list","cachedResultUrl":"/workflow/AW58nseQdLtJn5ZO","cachedResultName":"sub_lightrag_api"},"workflowInputs":{"mappingMode":"defineBelow","value":{"action":"insertTexts","meta_data":"={{ JSON.stringify($json.meta) }}","texts":"={{ $json.texts }}"},"matchingColumns":[],"schema":[{"id":"action","displayName":"action","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"texts","displayName":"texts","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"meta_data","displayName":"meta_data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1680,-112],"id":"0e0c04d8-3464-48d7-9a24-ab287371cd2a","name":"Insert into LightRAG","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const input = $('Парсим файл с глоссарием').all().map(item => item.json.Пол?.length > 2   ? `Персонаж: ${item.json.RU}. Корейское имя: ${item.json.KO}. Пол: ${item.json.Пол}.`\n  : `Сущность: ${item.json.RU}. Корейский перевод: ${item.json.KO}.`);\nconst meta = $('Парсим файл с глоссарием').all().map(item => `glossary_${item.json.KO}`);\nreturn { texts: input, meta }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,-112],"id":"506f0ff4-2f04-4a87-a47b-547a7b5c5039","name":"Code in JavaScript"}],"connections":{"Switch":{"main":[[{"node":"Парсим файл с глоссарием","type":"main","index":0}]]},"Парсим файл с глоссарием":{"main":[[{"node":"Запись глоссаария в БД","type":"main","index":0}]]},"to log4":{"main":[[{"node":"Чтение глоссария","type":"main","index":0}]]},"Move Binary Data1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Чтение глоссария":{"main":[[{"node":"Move Binary Data1","type":"main","index":0}]]},"Start Workflow":{"main":[[{"node":"to log4","type":"main","index":0}]]},"Запись глоссаария в БД":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Insert into LightRAG":{"main":[[]]},"Code in JavaScript":{"main":[[{"node":"Insert into LightRAG","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Moscow","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"global-error-handler-36id","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1","saveFailedExecution":"all","saveManualExecutions":true,"saveExecutionProgress":"none","saveDataSuccessExecution":"none"},"staticData":null,"meta":null,"pinData":{"Start Workflow":[{"json":{"job_id":28}}]},"versionId":"863c2d55-d557-4be9-a03e-16e618ca8d51","activeVersionId":"863c2d55-d557-4be9-a03e-16e618ca8d51","versionCounter":337,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-25T03:35:45.742Z","createdAt":"2026-03-25T03:35:45.742Z","role":"workflow:owner","workflowId":"ZdsvkMfRDAU4yLbL3DPcK","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":"Version 863c2d55","description":""}}]