Send_Message_RESTORED.json
{
  "updatedAt": "2026-03-28T06:17:02.474Z",
  "createdAt": "2026-03-25T16:56:42.241Z",
  "id": "RESTORED-c0226993",
  "name": "Send Message (RESTORED)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "tableName": {
          "__rl": true,
          "value": "telegram_send_message",
          "mode": "list",
          "cachedResultName": "telegram_send_message"
        },
        "additionalFields": {},
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        816
      ],
      "id": "bb479960-b39d-49c9-913e-b6eb8a564f4f",
      "name": "Postgres Trigger",
      "credentials": {
        "postgres": {
          "id": "iGih4QSBWfmpkdGY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Postgres Trigger').first().json.payload.template }}",
                    "rightValue": "create_job",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0c9d6f18-3743-4b38-aa1c-1048c3250dbc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CREATE JOB"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "74658670-90d4-4f9a-80c6-3c67c2f71c4a",
                    "leftValue": "={{ $('Postgres Trigger').first().json.payload.template }}",
                    "rightValue": "start_processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "START_PROCESSING"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "183d6fca-f700-47ed-87c2-3f9f37385356",
                    "leftValue": "={{ $('Postgres Trigger').first().json.payload.template }}",
                    "rightValue": "wait_processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WAIT_PROCESSING"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2de1a4bb-258f-4c6d-9e05-c3a96fab0bee",
                    "leftValue": "={{ $('Postgres Trigger').first().json.payload.template }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PROCESSING"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "97e38999-1f14-4fd5-bda6-4d3aca9a8899",
                    "leftValue": "={{ $('Postgres Trigger').first().json.payload.template }}",
                    "rightValue": "error_processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ERROR_PROCESSING"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "20a4b302-9de2-4d4d-9037-a19a20bea1d1",
                    "leftValue": "={{ $('Postgres Trigger').first().json.payload.template }}",
                    "rightValue": "finish_processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FINISH_PROCESSING"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -112,
        752
      ],
      "id": "1b231e9e-19a0-4fcb-8fe6-ed89070e1ab5",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1520,
        864
      ],
      "id": "417362b9-7cd2-4f76-b3a2-333d91946d51",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        3984,
        1200
      ],
      "id": "b286a8dd-fd16-452e-a266-7d34e35aab08"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_array_elements(json_agg(json_build_object('id',\"id\", 'chat',\"chat\"))) as telegram_chats FROM telegram_chats;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1280,
        864
      ],
      "id": "829813de-d355-4bc3-93ec-35d0468a4078",
      "name": "Execute a SQL query1",
      "executeOnce": true,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "iGih4QSBWfmpkdGY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM document_jobs a, job_current b WHERE a.id =b.job_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -608,
        -16
      ],
      "id": "9353dcca-a7fb-44cd-ad9f-9c2ccaa06369",
      "name": "Данные document_jobs",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "iGih4QSBWfmpkdGY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT count(*) as chunks_total FROM document_chunks WHERE job_id IN (SELECT job_id FROM job_current);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -608,
        176
      ],
      "id": "f6d24016-883c-43a8-a09d-68082524ebac",
      "name": "Общее количество чанков",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "iGih4QSBWfmpkdGY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const total = $input.all().find(item => item.json?.chunks_total)\nconst file = $input.first().json.file_name;\nreturn {\n  message: `\n▶️ <b>Обработка началась</b>\n\n📄 Документ: <b>${file}</b>\n🔄 Статус: <b>В процессе</b>\n📊 Прогресс:0 /4832 (0%)\n💰 Потрачено: $0.00\n⏳ Оценка времени: ~82 часа\n`,\n  type: 'create',\n  button: {}\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        480
      ],
      "id": "6d02f68c-e70f-4d07-b315-a0c98972198f",
      "name": "Сообщение Старт обработки"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        784
      ],
      "id": "eaa9a78b-82c3-492e-8fc7-e5b167d6a2c7",
      "name": "Merge"
    },
    {
      "parameters": {
        "numberInputs": 9
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -304,
        704
      ],
      "id": "0bfd1f4a-edf7-4b75-8615-4fa403d33e6a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT count(*) as chunks_done FROM document_chunks WHERE job_id IN (SELECT job_id FROM job_current) AND status='done';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -608,
        400
      ],
      "id": "c3464601-41b3-440c-be03-3e865e4b0f4d",
      "name": "Количество законченных чанков",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "iGih4QSBWfmpkdGY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3392,
        880
      ],
      "id": "28c1612b-9230-4fc7-a20a-7518980a5f2c",
      "name": "Merge2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE telegram_message SET message_id = {{ $json.result.message_id }} WHERE chat_id = {{ $('Loop Over Items').first().json.telegram_chats.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3792,
        816
      ],
      "id": "57400c38-90b4-4087-8740-dd474fa7fd56",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "iGih4QSBWfmpkdGY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const RUBLE_EXCHANGE_RATE = 79;\n\nconst billing_polza = Number($('Данные document_jobs').first().json.billing_polza) - Number($('Billing Polza.ai').first().json.amount);\nconst billing_neuro = -(Number($('Данные document_jobs').first().json.billing_neuro) - Number($('Billing Neuro').first().json.total_usage)) / 100;\n\nconst startedAtMs = DateTime.fromISO($('Данные document_jobs').first().json.created_at);\nconst diff = startedAtMs.diffNow().negate().toFormat(\"hh':'mm':'ss\")\n\nconst done = Number($('Количество законченных чанков').first().json.chunks_done);\nconst total = Number($('Общее количество чанков').first().json.chunks_total);\n// const done = Math.floor(Math.random() * total);\nconst ratio = Math.min(1, Math.max(0, done / total));\n\nconst startedAt = startedAtMs.toFormat(\"dd.MM.yyyy HH:mm:ss\");\n\nconst width =20;\nconst filled = Math.round(ratio * width);\nconst bar = '█'.repeat(filled) + '░'.repeat(width - filled);\n\nreturn {\n  message: `\n🔄 <b>Перевод в процессе</b>\n\n📄 Документ: ${$('Данные document_jobs').first().json.file_name}\n<b>🗓 Старт:</b> <code>${ startedAt }</code> \n<b>⏱ Прошло: <code>${ diff }</code></b>\n<b>📊 Прогресс:</b> <code>${ `${bar} ${Math.floor(ratio*100)}%` }</code> \n<b>🧩 Текущий чанк: <code>${ done }/${ total }</code></b>\n💰 Потрачено на Polza.ai: \n      ₽ ${ billing_polza.toFixed(2) }\n💰 Потрачено на NeuroAPI: \n      ₽ ${(billing_neuro * RUBLE_EXCHANGE_RATE).toFixed(2).toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, \" \")}\n\n<i>Сообщение сгенерировано автоматически.</i>\n  `,\n  type: 'edit',\n  button: {}\n} "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        912
      ],
      "id": "c895c9c1-3ad7-4666-962b-232b1d0afe97",
      "name": "Сообщение Перевод в процессе"
    },
    {
      "parameters": {
        "jsCode": "const RUBLE_EXCHANGE_RATE = 79;\n\nconst billing_polza = Number($('Данные document_jobs').first().json.billing_polza) - Number($('Billing Polza.ai').first().json.amount);\n\nconst billing_neuro = -(Number($('Данные document_jobs').first().json.billing_neuro) - Number($('Billing Neuro').first().json.total_usage)) / 100;\n\nconst diff = DateTime.fromISO($('Данные document_jobs').first().json.created_at).diff(DateTime.fromISO($('Данные document_jobs').first().json.finished_at)).negate().toFormat(\"hh':'mm':'ss\");\n\nconst avv_time = DateTime.fromISO($('Данные document_jobs').first().json.created_at).diff(DateTime.fromISO($('Данные document_jobs').first().json.finished_at)).negate().toMillis() / (Number($('Общее количество чанков').first().json.chunks_total) || 1) / 1000;\n\nconst avv_cost = (billing_polza + billing_neuro * RUBLE_EXCHANGE_RATE) /  (Number($('Общее количество чанков').first().json.chunks_total) || 1);\n\nconst source = $('Бинарные данные файлов').first().json.source;\n\nconst message = {\n  message: `\n✅ <b>Перевод завершен!</b>\n\n📄 Документ (исходный): \n     ${$('Данные document_jobs').first().json.file_name}\n📄 Документ (с переводом): \n     ${$('Данные document_jobs').first().json.translated_file}\n\n💰 Итоговая стоимость Polza.ai: \n      ₽ ${ billing_polza.toFixed(2) }\n💰 Итоговая стоимость NeuroAPI: \n      $ ${ billing_neuro.toFixed(2) } (₽ ${(billing_neuro * RUBLE_EXCHANGE_RATE).toFixed(2).toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, \" \")})\n     \n🗓 Старт: <code>${ DateTime.fromISO($('Данные document_jobs').first().json.created_at).toFormat(\"dd.MM.yyyy HH:mm:ss\") }</code> \n⏱ Переведено за: <code>${ diff } (чч:мм:сс)</code>\n\n🔢 <b>Чанков переведено: ${$('Общее количество чанков').first().json.chunks_total}</b>\n⌛ Среднее время перевода 1 чанка: \n       ${ (avv_time).toLocaleString()} сек.\n💰 Средняя стоимость 1 чанка ≈\n       ₽ ${ avv_cost.toFixed(2) }\n\n📄 <b>Документ был поделен на:</b>\n       Главы - ${$('Количество глав').first().json.count}\n       Арки - ${$('Количество арок').first().json.count}\n\n${source !== 'telegram' ? `<a href=\"${$('Данные document_jobs').first().json.web_chapters_link}\">Summary</a>\\n` : ''}\n${source != 'telegram' ? '📁 <i>Файл сохранён на Google Drive</i>' : ''}\n`,\n  type: 'create'\n}\n\nif (source != 'telegram')\n  message.button = {\n    name: '📂 Открыть файл',\n    text: $('Данные document_jobs').first().json.web_view_link || 'http://link.com'\n  }\n\nreturn { ...message }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        1344
      ],
      "id": "12d6d7a5-061f-4186-8bb7-c490996ec6b7",
      "name": "Сообщение Перевод завершен"
    },
    {
      "parameters": {
        "chatId": "={{ $('Loop Over Items').first().json.telegram_chats.chat }}",
        "text": "={{ $('Merge').first().json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2512,
        928
      ],
      "id": "a7f10a06-e792-4dd1-bfff-c9fd20027c21",
      "name": "Send a text message withot Keyboard",
      "webhookId": "eb6db2ad-5d6c-4ed7-b4fe-1f4c9b326b14",
      "credentials": {
        "telegramApi": {
          "id": "V4jPr27PQcfRRHY9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "94a4769d-ea63-42f6-b761-098db6d36782",
              "leftValue": "={{ $('Merge').first().json.button }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2288,
        1040
      ],
      "id": "89c12d16-2746-4be1-bc5b-16ff50d03073",
      "name": "If3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Loop Over Items').first().json.telegram_chats.chat }}",
        "text": "={{ $('Merge').first().json.message }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $('Merge').first().json.button.name }}",
                    "additionalFields": {
                      "callback_data": "={{ $('Merge').first().json.button?.callbackData || '' }}",
                      "url": "={{ $('Merge').first().json.button?.text || '' }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2512,
        1136
      ],
      "id": "1c414215-9d1d-4050-8f6f-2cbaf8262562",
      "name": "Send a text message with Keyboard",
      "webhookId": "eb6db2ad-5d6c-4ed7-b4fe-1f4c9b326b14",
      "credentials": {
        "telegramApi": {
          "id": "V4jPr27PQcfRRHY9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://polza.ai/api/v1/balance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pza_PV5t0y6PTuE8GLcZ-jgvlpNDLlZm0mUT"
            }
          ]
        },
        "options": {
          "timeout": 1000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        608
      ],
      "id": "784679e8-357e-42ce-8bcc-f0d0422a58c1",
      "name": "Billing Polza.ai",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://neuroapi.host/v1/dashboard/billing/usage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-JPPv8NvhqimYVBabJvm6fB5mlv80WnLV673tfVzFm6IYq67V"
            }
          ]
        },
        "options": {
          "timeout": 1000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        816
      ],
      "id": "bf96b060-a3af-4d4d-94ba-656239dbc04b",
      "name": "Billing Neuro",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT count(*) FROM document_arcs WHERE job_id IN (SELECT job_id FROM job_current);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -608,
        1008
      ],
      "id": "79454547-a861-45e7-8cb4-2fd404e15d57",
      "name": "Количество арок",
      "credentials": {
        "postgres": {
          "id": "iGih4QSBWfmpkdGY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT count(*) FROM document_chapters WHERE job_id IN (SELECT job_id FROM job_current);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -608,
        1216
      ],
      "id": "9d578f2e-c6ce-4193-8f92-3d0899948eec",
      "name": "Количество глав",
      "credentials": {
        "postgres": {
          "id": "iGih4QSBWfmpkdGY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  message: `\n⚠️ <b>Ошибка обработки</b>\n\n📄 Документ: ${$('Данные document_jobs').first().json.file_name}\n\n❌ <b>Ошибка:</b> \n${$('Данные document_jobs').first().json.error_text}\n\n🔁 Повторная попытка через 30 секунд...\n\n<i>Сообщение сгенерировано автоматически.</i>\n  `,\n  type: 'create',\n  button: {}\n} "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        1120
      ],
      "id": "eee9791a-f3f8-4315-bc66-db8ed6ecfd7a",
      "name": "Сообщение Ошибка в процессе"
    },
    {
      "parameters": {
        "jsCode": "const RUBLE_EXCHANGE_RATE = 79;\n\nconst billing_polza = Number($('Данные document_jobs').first().json.billing_polza) - Number($('Billing Polza.ai').first().json.amount);\nconst billing_neuro = -(Number($('Данные document_jobs').first().json.billing_neuro) - Number($('Billing Neuro').first().json.total_usage)) / 100;\n\nconst startedAtMs = DateTime.fromISO($('Данные document_jobs').first().json.created_at);\nconst diff = startedAtMs.diffNow().negate().toFormat(\"hh':'mm':'ss\")\n\nconst done = Number($('Количество законченных чанков').first().json.chunks_done);\nconst total = Number($('Общее количество чанков').first().json.chunks_total);\n// const done = Math.floor(Math.random() * total);\nconst ratio = Math.min(1, Math.max(0, done / total));\n\nconst startedAt = startedAtMs.toFormat(\"dd.MM.yyyy HH:mm:ss\");\n\nconst width =20;\nconst filled = Math.round(ratio * width);\nconst bar = '█'.repeat(filled) + '░'.repeat(width - filled);\n\nreturn {\n  message: `\n🚨 <b>Перевод остановлен</b>\n\n📄 Документ: ${$('Данные document_jobs').first().json.file_name}\n\n⛔ Обработка приостановлена.\n      Для повтора нажми на кнопку )\n\n`,\n  type: 'delete',\n  button: {\n    name: '🔁 Повторить',\n    callbackData: 'repeat_translate',\n  }\n} "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        704
      ],
      "id": "83f6c50b-56f1-4152-b5bf-866a3a594122",
      "name": "Сообщение Перевод остановлен"
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot8591497428:AAEbVnPaXYe2E-WI2ni2cCuSGnmgS5sckR0/getUpdates",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2512,
        480
      ],
      "id": "84add9f7-6a7b-4e13-8633-cd3f953be155",
      "name": "Опрос входящих в Telegram"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE telegram_message SET delete_id = {{ $('Send a text message with Keyboard').first().json.result.message_id }} WHERE chat_id = {{ $('Loop Over Items').first().json.telegram_chats.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2928,
        1152
      ],
      "id": "13bbc890-5656-4804-8ddb-0ee90c6b861c",
      "name": "Сохранение id для удаления сообщения",
      "credentials": {
        "postgres": {
          "id": "iGih4QSBWfmpkdGY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0b4f8857-12e6-4790-9e12-f1ec168902b2",
              "leftValue": "={{ $('Merge').first().json.type }}",
              "rightValue": "delete",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "56cf70e4-b547-493c-8d3a-7393483e3deb",
              "leftValue": "=",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2112,
        496
      ],
      "id": "52fec4d9-273e-4ea9-a0b0-8964c3017d89",
      "name": "Удалить сообщения?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c390f2c7-b96c-4902-9e65-f786c2a38bff",
              "leftValue": "={{ $json.wait }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2864,
        480
      ],
      "id": "5d7ee880-06be-42af-a37c-5db90e2632d4",
      "name": "Ожидаем?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM telegram_chats c, telegram_message m WHERE c.id = m.chat_id ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3088,
        496
      ],
      "id": "ef2f382a-953d-4cb0-b68b-6a689c6c088c",
      "name": "Список всех доступных чатов",
      "executeOnce": true,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "iGih4QSBWfmpkdGY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        3712,
        512
      ],
      "id": "62259dc2-a609-4d16-b071-96e5ae7cefb2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3296,
        496
      ],
      "id": "caff7332-9135-4ba5-9deb-d1e7853862f5",
      "name": "Цикл для удаления сообщений"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2336,
        480
      ],
      "id": "af3a6775-d5b7-43f7-8a29-0967f013135f",
      "name": "Ждем 5 сек",
      "webhookId": "0fa877c2-b246-4bdd-89a5-114a3c654b86"
    },
    {
      "parameters": {
        "jsCode": "let wait = true;\nconst response = $input.first().json;\nconst delete_id = $('Send a text message with Keyboard').first().json.result.message_id;\nif (!response.ok) return { wait };\nif (!response.result.length) return { wait };\n\nconst message = response.result.find(item => item.callback_query.message. \nmessage_id === delete_id);\nif (!message) return { wait };\n\nconst callbackData = message?.callback_query?.data;\n\nreturn { wait: callbackData !== 'repeat_translate', delete_id }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        480
      ],
      "id": "d6c75472-321a-4c34-a529-6477f5bfa960",
      "name": "Определяем возможность продолжения"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $json.chat }}",
        "messageId": "={{ $json.delete_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3520,
        512
      ],
      "id": "cec64a38-b375-4b7f-88f7-19932f1f9217",
      "name": "Удаляем сообщение",
      "webhookId": "c91ba493-e55a-4cf0-aefc-04a97b79f94e",
      "credentials": {
        "telegramApi": {
          "id": "V4jPr27PQcfRRHY9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Loop Over Items').first().json.telegram_chats.chat }}",
        "messageId": "={{ $('данные по чатам').first().json.message_id }}",
        "text": "={{ $('Merge').first().json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2512,
        720
      ],
      "id": "fed10edb-e0e5-4051-ab52-5a2492baff70",
      "name": "Редактируем текст сообщения",
      "webhookId": "ee3317ee-e386-4133-8122-dcb431c6fcfc",
      "credentials": {
        "telegramApi": {
          "id": "V4jPr27PQcfRRHY9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0b4f8857-12e6-4790-9e12-f1ec168902b2",
              "leftValue": "={{ $('Merge').first().json.type }}",
              "rightValue": "edit",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "56cf70e4-b547-493c-8d3a-7393483e3deb",
              "leftValue": "=",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3568,
        912
      ],
      "id": "07c970f7-f77d-4c1c-a96f-e0a5a46a2b5c",
      "name": "Type edit?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE document_jobs SET status = 'resume'  WHERE id IN (SELECT job_id FROM job_current);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3632,
        320
      ],
      "id": "682bc3ad-a0a5-41a2-be66-d8d55da8b33f",
      "name": "Возобновление перевода",
      "credentials": {
        "postgres": {
          "id": "iGih4QSBWfmpkdGY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "0b4f8857-12e6-4790-9e12-f1ec168902b2",
              "leftValue": "={{ $json.message_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2064,
        768
      ],
      "id": "d1ccd00a-2ea7-4da6-972f-46df1a139607",
      "name": "первое сообщение для редактирования?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c87b7c3e-d09a-4336-ac31-a31dbeb54440",
              "leftValue": "={{ $('Merge').first().json.type }}",
              "rightValue": "edit",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1856,
        880
      ],
      "id": "a5911f16-713d-4217-82a4-2708133be36c",
      "name": "тип сообщения edit?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * from telegram_message m, telegram_chats c WHERE m.chat_id = c.id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1696,
        880
      ],
      "id": "da11dbd3-4df4-4a69-a5de-103f111c8f02",
      "name": "данные по чатам",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "iGih4QSBWfmpkdGY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    source \n  FROM \n    document_files",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -608,
        1424
      ],
      "id": "f8ab8d21-f91a-4817-a6c4-1ebc2ff38b1c",
      "name": "Бинарные данные файлов",
      "executeOnce": true,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "iGih4QSBWfmpkdGY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('данные по чату').first().json.chat }}",
        "messageId": "={{ $('данные по чату').first().json.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        1344
      ],
      "id": "a7884832-ef82-45b9-9ed1-06f3452652c3",
      "name": "Удаляем сообщение1",
      "webhookId": "c91ba493-e55a-4cf0-aefc-04a97b79f94e",
      "credentials": {
        "telegramApi": {
          "id": "V4jPr27PQcfRRHY9",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * from telegram_message m, telegram_chats c WHERE m.chat_id = c.id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -608,
        1632
      ],
      "id": "313d1922-9f0a-4adb-ab1f-845ba32229f8",
      "name": "данные по чату",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "iGih4QSBWfmpkdGY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0b4f8857-12e6-4790-9e12-f1ec168902b2",
              "leftValue": "={{ $('Merge').first().json.type }}",
              "rightValue": "delete",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "56cf70e4-b547-493c-8d3a-7393483e3deb",
              "leftValue": "=",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2688,
        1136
      ],
      "id": "85d48ff6-4ca3-484a-a990-a28b72424997",
      "name": "Type != delete?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ScNLD3LbRTVAJOK4",
          "mode": "list",
          "cachedResultUrl": "/workflow/ScNLD3LbRTVAJOK4",
          "cachedResultName": "[Send] create_job"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "type": "create"
          },
          "matchingColumns": [
            "type"
          ],
          "schema": [
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        160,
        320
      ],
      "id": "07d9dcec-223e-4a28-a411-41f04eafb516",
      "name": "[Send] create_job"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "296cf2db-1fa7-4281-9cf7-0d65db60d8a3",
              "leftValue": "={{ $('Postgres Trigger').first().json.payload.template }}",
              "rightValue": "create_job",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "5e610baf-1600-4b58-9b0d-309c0b588e3b",
              "leftValue": "={{ $json.message_start || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        848
      ],
      "id": "b9e70422-7a58-4cb6-9ed6-71a739b53902",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "select_files",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        624,
        848
      ],
      "id": "b945bfb6-cca7-45c0-8bd9-25f24254ed96",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ScNLD3LbRTVAJOK4",
          "mode": "list",
          "cachedResultUrl": "/workflow/ScNLD3LbRTVAJOK4",
          "cachedResultName": "[Send] create_job"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "type": "delete"
          },
          "matchingColumns": [
            "type"
          ],
          "schema": [
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1040,
        704
      ],
      "id": "c25835f6-0323-4d60-a05d-a97bf41b8a1e",
      "name": "[Send] create_job1"
    }
  ],
  "connections": {
    "Postgres Trigger": {
      "main": [
        [
          {
            "node": "Данные document_jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Общее количество чанков",
            "type": "main",
            "index": 0
          },
          {
            "node": "Количество законченных чанков",
            "type": "main",
            "index": 0
          },
          {
            "node": "Billing Polza.ai",
            "type": "main",
            "index": 0
          },
          {
            "node": "Billing Neuro",
            "type": "main",
            "index": 0
          },
          {
            "node": "Количество арок",
            "type": "main",
            "index": 0
          },
          {
            "node": "Количество глав",
            "type": "main",
            "index": 0
          },
          {
            "node": "Бинарные данные файлов",
            "type": "main",
            "index": 0
          },
          {
            "node": "данные по чату",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "[Send] create_job",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сообщение Старт обработки",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сообщение Перевод остановлен",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сообщение Перевод в процессе",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сообщение Ошибка в процессе",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Удаляем сообщение1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Удалить сообщения?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "данные по чатам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные document_jobs": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Общее количество чанков": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Сообщение Старт обработки": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Количество законченных чанков": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Type edit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщение Перевод в процессе": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Сообщение Перевод завершен": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Send a text message withot Keyboard": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Send a text message withot Keyboard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message with Keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message with Keyboard": {
      "main": [
        [
          {
            "node": "Type != delete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Billing Polza.ai": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Billing Neuro": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Количество арок": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Количество глав": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Сообщение Ошибка в процессе": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Сообщение Перевод остановлен": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Опрос входящих в Telegram": {
      "main": [
        [
          {
            "node": "Определяем возможность продолжения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранение id для удаления сообщения": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Удалить сообщения?": {
      "main": [
        [
          {
            "node": "Ждем 5 сек",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ожидаем?": {
      "main": [
        [
          {
            "node": "Ждем 5 сек",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Список всех доступных чатов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Список всех доступных чатов": {
      "main": [
        [
          {
            "node": "Цикл для удаления сообщений",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Цикл для удаления сообщений",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Цикл для удаления сообщений": {
      "main": [
        [
          {
            "node": "Возобновление перевода",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Удаляем сообщение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ждем 5 сек": {
      "main": [
        [
          {
            "node": "Опрос входящих в Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определяем возможность продолжения": {
      "main": [
        [
          {
            "node": "Ожидаем?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Удаляем сообщение": {
      "main": [
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Редактируем текст сообщения": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Type edit?": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "первое сообщение для редактирования?": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Редактируем текст сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "тип сообщения edit?": {
      "main": [
        [
          {
            "node": "первое сообщение для редактирования?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "данные по чатам": {
      "main": [
        [
          {
            "node": "тип сообщения edit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Бинарные данные файлов": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Удаляем сообщение1": {
      "main": [
        [
          {
            "node": "Сообщение Перевод завершен",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "данные по чату": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Type != delete?": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Сохранение id для удаления сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "[Send] create_job1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Send] create_job1": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Postgres Trigger": [
      {
        "json": {
          "length": 171,
          "processId": 385,
          "channel": "n8n_channel_bb479960_b39d_49c9_913e_b6eb8a564f4f",
          "payload": {
            "id": 23,
            "template": "finish_processing",
            "params": null,
            "created_at": "2026-03-28T05:05:53.280599",
            "sended_at": null
          },
          "name": "notification"
        }
      }
    ]
  },
  "versionId": "d1d68737-49b3-499a-9ef4-86b8079a36d8",
  "activeVersionId": "d1d68737-49b3-499a-9ef4-86b8079a36d8",
  "versionCounter": 109,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-25T16:56:42.241Z",
      "createdAt": "2026-03-25T16:56:42.241Z",
      "role": "workflow:owner",
      "workflowId": "J62UViXZMD5o6qoU",
      "projectId": "laKLUPkuQseBWQhm",
      "project": {
        "updatedAt": "2026-03-24T19:39:31.833Z",
        "createdAt": "2026-03-24T18:56:12.129Z",
        "id": "laKLUPkuQseBWQhm",
        "name": "Алексей bigalex <alexei.bigalex@yandex.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "72a067d6-c26f-4653-90ff-323299f21ddd"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version d1d68737",
    "description": ""
  }
}