sub_workflow_notify.json
[
  {
    "id": "sub_notify",
    "name": "Send Message - Notify",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [-400, 300],
        "id": "trigger",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id, chat FROM telegram_chats;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [-100, 300],
        "id": "get_chats",
        "name": "Get Chats",
        "credentials": {
          "postgres": {
            "id": "iGih4QSBWfmpkdGY",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "reset": false
          }
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [200, 300],
        "id": "loop_chats",
        "name": "Loop Over Chats"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "leftValue": "={{ $json.type }}",
                "rightValue": "edit",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "leftValue": "={{ $json.message_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [500, 300],
        "id": "check_edit",
        "name": "Is Edit?"
      },
      {
        "parameters": {
          "chatId": "={{ $json.chat }}",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "appendAttribution": false,
            "disable_notification": true,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [800, 100],
        "id": "send_message",
        "name": "Send Message",
        "onError": "continueRegularOutput",
        "credentials": {
          "telegramApi": {
            "id": "V4jPr27PQcfRRHY9",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "operation": "editMessageText",
          "chatId": "={{ $json.chat }}",
          "messageId": "={{ $json.message_id }}",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [800, 500],
        "id": "edit_message",
        "name": "Edit Message",
        "onError": "continueRegularOutput",
        "credentials": {
          "telegramApi": {
            "id": "V4jPr27PQcfRRHY9",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first();\nconst chatId = item.json.chat;\nif (item.json.error || !item.json.result) { return { chat_id: chatId, success: false, error: item.json.error?.description || 'Unknown error', message_id: null }; }\nreturn { chat_id: chatId, success: true, message_id: item.json.result?.message_id || item.json.message_id, type: item.json.type };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [1100, 300],
        "id": "handle_result",
        "name": "Handle Result"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [[{ "node": "Get Chats", "type": "main", "index": 0 }]]
      },
      "Get Chats": {
        "main": [[{ "node": "Loop Over Chats", "type": "main", "index": 0 }]]
      },
      "Loop Over Chats": {
        "main": [[], [{ "node": "Is Edit?", "type": "main", "index": 0 }]]
      },
      "Is Edit?": {
        "main": [
          [{ "node": "Edit Message", "type": "main", "index": 0 }],
          [{ "node": "Send Message", "type": "main", "index": 0 }]
        ]
      },
      "Send Message": {
        "main": [[{ "node": "Handle Result", "type": "main", "index": 0 }]]
      },
      "Edit Message": {
        "main": [[{ "node": "Handle Result", "type": "main", "index": 0 }]]
      },
      "Handle Result": {
        "main": [[{ "node": "Log To DB", "type": "main", "index": 0 }]]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1"
    }
  }
]
