test_ollama.json
[{"updatedAt":"2026-04-12T16:47:27.978Z","createdAt":"2026-04-12T16:47:27.978Z","id":"blgXWOEtKEI8y8Vj","name":"[TEST] Ollama Translation Run","description":null,"active":false,"isArchived":false,"nodes":[{"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-800,300],"parameters":{}},{"id":"prepare-data","name":"Подготовка тестовых данных","type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,300],"parameters":{"jsCode":"// Тестовый корейский текст из Тест2.docx (первые ~500 символов)\nconst koreanText = `\"감사합니다. 또 오세요!\"\n경쾌한 직원의 목소리와 함께 마트의 자동문이 열렸다. 회색 후드를 눌러쓰고 온갖 식재료가 가득 담긴 딸기무늬 장바구니를 든 한 청년이 정류장 쪽으로 향했다.\n\"현재 교차로에 게이트가 발생해 교통을 통제하고 있습니다. 협조해주십시오.\"\n늘 가던 길에 벌어진 익숙하지 않은 풍경에 청년이 고개를 기웃거렸다. 정장 위에 형광 연두색 안전 조끼를 입고, 노란 안전모까지 챙겨 쓴 누군가가 빨갛게 빛나는 경광봉을 흔들며 통행로를 막고 있었다. 머리 너머로 푸른빛으로 일렁이는 게이트의 입구가 보였다.\n그리고 그 아래에서 헌터들이 그 틈을 비집고 기어 나온 몬스터와 필사적으로 싸우고 있었다.`;\n\nconst systemPrompt = `Ты профессиональный переводчик с корейского на русский.\nПравила перевода:\n- Переводи литературно, сохраняя стиль оригинала\n- Используй русский естественный язык\n- Сохраняй имена и термины как в оригинале\n- Не добавляй пояснений от себя\n- Переводи весь текст целиком`;\n\nconst modelConfig = {\n  mainModel: 'ollama',\n  mainModelName: 'llama3.2:3b',\n  baseUrl: 'http://127.0.0.1:11434',\n  fallbackModel: 'ollama',\n  fallbackModelName: 'llama3.2:3b',\n  fallbackBaseUrl: 'http://127.0.0.1:11434'\n};\n\nreturn [{\n  json: {\n    chunk_text: koreanText,\n    system_prompt: systemPrompt,\n    user_prompt: '',\n    glossary: '',\n    model_config: modelConfig,\n    test_id: 'ollama-test-001',\n    file_name: 'Тест2.docx',\n    test_start: new Date().toISOString()\n  }\n}];"}},{"id":"log-start","name":"Log: Start Translation Test","type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,300],"parameters":{"jsCode":"const input = $input.first().json;\nconsole.log(`🧪 TEST START: ${input.test_id}`);\nconsole.log(`📄 File: ${input.file_name}`);\nconsole.log(`📝 Input length: ${input.chunk_text.length} chars`);\nconsole.log(`🤖 Model: ${input.model_config.mainModelName}`);\nreturn $input.all();"}},{"id":"call-agent","name":"Вызов Translation Core","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-80,300],"parameters":{"workflowId":{"__rl":true,"value":"fP9QV05Msa4PIeY6","mode":"list","cachedResultName":"[Agent] Translation Core"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chunk_text":"={{ $json.chunk_text }}","system_prompt":"={{ $json.system_prompt }}","user_prompt":"={{ $json.user_prompt }}","glossary":"={{ $json.glossary }}","model_config":"={{ JSON.stringify($json.model_config) }}"},"matchingColumns":[],"schema":[{"id":"chunk_text","displayName":"chunk_text","type":"string"},{"id":"system_prompt","displayName":"system_prompt","type":"string"},{"id":"user_prompt","displayName":"user_prompt","type":"string"},{"id":"glossary","displayName":"glossary","type":"string"},{"id":"model_config","displayName":"model_config","type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}}},{"id":"format-result","name":"Форматирование результата","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,300],"parameters":{"jsCode":"const test = $('Подготовка тестовых данных').first().json;\nconst result = $input.first().json;\n\nconst report = `\n═══════════════════════════════════\n🧪 ТЕСТОВЫЙ ПЕРЕВОД — ОТЧЁТ\n═══════════════════════════════════\n📄 Файл: ${test.file_name}\n🆚 Test ID: ${test.test_id}\n🤖 Модель: ${result.model_used || test.model_config.mainModelName}\n⏱️  Время: ${result.duration_ms || 'N/A'} ms\n📥 Вход: ${result.input_length || test.chunk_text.length} символов\n📤 Выход: ${result.output_length || (result.output ? result.output.length : 0)} символов\n✅ Успех: ${result.success}\n🔍 Качество: ${result.quality_check || 'N/A'}\n\n─── ОРИГИНАЛ (KO) ───\n${test.chunk_text.substring(0, 300)}...\n\n─── ПЕРЕВОД (RU) ───\n${result.output || 'ERROR: ' + (result.error || 'No output')}\n═══════════════════════════════════\n`.trim();\n\nreturn [{ json: { ...result, report, test_id: test.test_id, model_name: test.model_config.mainModelName } }];"}},{"id":"log-result","name":"Log: Результат","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,300],"parameters":{"jsCode":"const result = $input.first().json;\nconsole.log(result.report);\nreturn [{ json: { test_completed: true, ...result } }];"}}],"connections":{"Manual Trigger":{"main":[[{"node":"Подготовка тестовых данных","type":"main","index":0}]]},"Подготовка тестовых данных":{"main":[[{"node":"Log: Start Translation Test","type":"main","index":0}]]},"Log: Start Translation Test":{"main":[[{"node":"Вызов Translation Core","type":"main","index":0}]]},"Вызов Translation Core":{"main":[[{"node":"Форматирование результата","type":"main","index":0}]]},"Форматирование результата":{"main":[[{"node":"Log: Результат","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"0152063a-6315-4ab4-ac3e-7ca3553cb278","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-12T16:47:27.978Z","createdAt":"2026-04-12T16:47:27.978Z","role":"workflow:owner","workflowId":"blgXWOEtKEI8y8Vj","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]