translation_core_final.json
[{"updatedAt":"2026-04-12T18:34:17.433Z","createdAt":"2026-04-12T17:21:10.199Z","id":"uMaJIanCMJqosDXC","name":"[Agent] Translation Core","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"chunk_text"},{"name":"system_prompt"},{"name":"user_prompt"},{"name":"glossary"},{"name":"rag_context"},{"name":"rolling_summary"},{"name":"arc_summary"},{"name":"prev_line"},{"name":"model_config"},{"name":"test_id"}]}},"id":"trigger-1","name":"Start Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1200,304]},{"parameters":{"jsCode":"const input = $('Start Workflow').first().json;\nconst chunkText = input.chunk_text || '';\nconst systemPrompt = input.system_prompt || '';\nconst userPrompt = input.user_prompt || '';\nconst glossary = input.glossary || '';\nconst ragContext = input.rag_context || '';\nconst rollingSummary = input.rolling_summary || '';\nconst arcSummary = input.arc_summary || '';\nconst prevLine = input.prev_line || '';\n\nlet fullUserPrompt = '';\nif (rollingSummary) fullUserPrompt += '## КРАТКОЕ СОДЕРЖАНИЕ ПРЕДЫДУЩЕЙ ГЛАВЫ:\\n' + rollingSummary + '\\n\\n';\nif (arcSummary) fullUserPrompt += '## КРАТКОЕ ОПИСАНИЕ ТЕКУЩЕЙ АРКИ:\\n' + arcSummary + '\\n\\n';\nif (prevLine) fullUserPrompt += '<CONTEXT_BEFORE>\\n' + prevLine + '\\n</CONTEXT_BEFORE>\\n\\n';\nif (userPrompt) fullUserPrompt += userPrompt + '\\n\\n';\nfullUserPrompt += '## ПЕРЕВЕДИ СТРОГО НА РУССКИЙ:\\n' + chunkText;\n\nlet fullSystemPrompt = systemPrompt;\nif (glossary) fullSystemPrompt = fullSystemPrompt.replace('{{GLOSSARY}}', '━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nГЛОССАРИЙ — ИСТОЧНИК ИСТИНЫ\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n' + glossary);\nif (ragContext) fullSystemPrompt = fullSystemPrompt.replace('{{LIGHT_RAG}}', '━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nБАЗА ЗНАНИЙ МИРА (КОНТЕКСТ ИЗ RAG)\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n' + ragContext);\nif (prevLine) fullSystemPrompt = fullSystemPrompt.replace('{{CONTEXT_BEFORE}}', '━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nСЕКЦИЯ<CONTEXT_BEFORE>\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━\\nНЕ переводить.\\nИспользовать только для улучшения связности основного текста.');\n\nconst modelConfig = input.model_config || { mainModel: 'ollama', mainModelName: 'llama3.2:3b', baseUrl: 'http://127.0.0.1:11434' };\n\nreturn [{ json: { chunk_text: chunkText, system_prompt: fullSystemPrompt, user_prompt: fullUserPrompt, model_config: modelConfig, start_time: Date.now(), test_id: input.test_id || 'translation-core', attempt: 0 } }];"},"id":"prepare-data","name":"Подготовка данных","type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,304]},{"parameters":{"jsCode":"const input = $input.first().json;\nconsole.log('🤖 Translation Core Start');\nconsole.log('📝 Input: ' + input.chunk_text.length + ' chars');\nconsole.log('🧠 Model: ' + input.model_config.mainModelName);\nreturn $input.all();"},"id":"log-start","name":"Log Start","type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,304]},{"parameters":{"promptType":"define","text":"={{ $json.system_prompt }}\n\n{{ $json.user_prompt }}","options":{"maxIterations":3}},"id":"main-translate","name":"Основной перевод","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-480,304],"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"РЕЗЕРВНЫЙ ПЕРЕВОД.\n\n{{ $json.system_prompt }}\n\n{{ $json.user_prompt }}","options":{"maxIterations":3}},"id":"fallback-translate","name":"Резервный перевод","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-16,320],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst output = input.output || '';\nconst hasContent = output.trim().length > 10;\nconst looksLikeKorean = /[ㄱ-ㅎㅏ-ㅣ가-힣]/.test(output);\nif (!hasContent) return [{ json: { ...input, quality_check: 'empty', passed: false } }];\nif (looksLikeKorean) return [{ json: { ...input, quality_check: 'still_korean', passed: false } }];\nreturn [{ json: { ...input, quality_check: 'ok', passed: true } }];"},"id":"quality-check","name":"Проверка качества","type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,112]},{"parameters":{"jsCode":"const input = $input.first().json;\nconst output = input.output || '';\nconst forbiddenWords = ['그녀는', '그는', '했다', '말했다', '생각했다'];\nconst found = forbiddenWords.filter(w => output.includes(w));\nreturn [{ json: { ...input, has_forbidden_words: found.length > 0, forbidden_words_found: found, passed_forbidden: found.length === 0 } }];"},"id":"forbidden-words","name":"Проверка запрещённых слов","type":"n8n-nodes-base.code","typeVersion":2,"position":[544,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1","leftValue":"={{ !$json.passed_forbidden }}","rightValue":"","operator":{"type":"boolean","operation":"equals","name":"equals"}}],"combinator":"and"},"options":{}},"id":"forbidden-if","name":"Есть запрещённые?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[800,304]},{"parameters":{"jsCode":"return [{ json: { error: 'Translation failed', output: '', model_used: 'none', success: false } }];"},"id":"log-error","name":"Логирование ошибки","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,112]},{"parameters":{"jsCode":"const input = $input.first().json;\nconst endTime = Date.now();\nreturn [{ json: { success: true, output: input.output, model_used: input.model_config.mainModelName, model_type: input.model_config.mainModel, quality_check: input.quality_check, forbidden_words: input.forbidden_words_found || [], duration_ms: endTime - input.start_time, output_length: (input.output || '').length, input_length: (input.chunk_text || '').length, attempt: input.attempt + 1, test_id: input.test_id } }];"},"id":"metrics","name":"Запись метрик","type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,320]},{"parameters":{"jsCode":"return [{ json: { success: false, error: $input.first().json.error || 'Translation failed', output: '' } }];"},"id":"return-error","name":"Возврат ошибки","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,112]},{"parameters":{"jsCode":"return $input.all();"},"id":"return-result","name":"Возврат результата","type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,176]},{"parameters":{"model":"llama3.2:3b","options":{"temperature":0.1}},"id":"ollama-main","name":"Ollama llama3.2:3b","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-480,528],"credentials":{"ollamaApi":{"id":"j0V93P3JQ2OxewHn","name":"Ollama Local"}}},{"parameters":{"model":"llama3.2:3b","options":{"temperature":0.1}},"id":"ollama-fallback","name":"Ollama llama3.2:3b Fallback","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-16,608],"credentials":{"ollamaApi":{"id":"j0V93P3JQ2OxewHn","name":"Ollama Local"}}}],"connections":{"Start Workflow":{"main":[[{"node":"Подготовка данных","type":"main","index":0}]]},"Log Start":{"main":[[{"node":"Основной перевод","type":"main","index":0}]]},"Ollama llama3.2:3b":{"ai_languageModel":[[{"node":"Основной перевод","type":"ai_languageModel","index":0}]]},"Ollama llama3.2:3b Fallback":{"ai_languageModel":[[{"node":"Резервный перевод","type":"ai_languageModel","index":0}]]},"Подготовка данных":{"main":[[{"node":"Log Start","type":"main","index":0}]]},"Основной перевод":{"main":[[{"node":"Проверка качества","type":"main","index":0}],[{"node":"Резервный перевод","type":"main","index":0}]]},"Проверка запрещённых слов":{"main":[[{"node":"Есть запрещённые?","type":"main","index":0}]]},"Проверка качества":{"main":[[{"node":"Логирование ошибки","type":"main","index":0}]]},"Есть запрещённые?":{"main":[[],[{"node":"Запись метрик","type":"main","index":0}]]},"Логирование ошибки":{"main":[[{"node":"Возврат ошибки","type":"main","index":0}]]},"Резервный перевод":{"main":[[{"node":"Проверка запрещённых слов","type":"main","index":0}],[{"node":"Логирование ошибки","type":"main","index":0}]]},"Запись метрик":{"main":[[{"node":"Возврат результата","type":"main","index":0}]]},"Возврат ошибки":{"main":[[{"node":"Возврат результата","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"a5b2a591-3fe6-4d13-aba2-aab46002406f","activeVersionId":null,"versionCounter":38,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-12T17:21:10.199Z","createdAt":"2026-04-12T17:21:10.199Z","role":"workflow:owner","workflowId":"uMaJIanCMJqosDXC","projectId":"laKLUPkuQseBWQhm","project":{"updatedAt":"2026-03-24T19:39:31.833Z","createdAt":"2026-03-24T18:56:12.129Z","id":"laKLUPkuQseBWQhm","name":"Алексей bigalex <alexei.bigalex@yandex.ru>","type":"personal","icon":null,"description":null,"creatorId":"72a067d6-c26f-4653-90ff-323299f21ddd"}}],"versionMetadata":{"name":null,"description":null}}]