Translate_Chunk_Verified.json
{
  "updatedAt": "2026-03-29T05:07:02.033Z",
  "createdAt": "2026-02-25T11:35:34.066Z",
  "id": "Q5TRHGg-XRblnMRpH41Ee",
  "name": "Translate Chunk",
  "description": "",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "translate"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -4592,
        752
      ],
      "id": "862c325a-6d90-4e85-b8fe-cd3b97b1c1e8",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM document_chunks WHERE job_id IN (SELECT job_id FROM job_current) AND result_text IS NULL ORDER BY chunk_index LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4352,
        752
      ],
      "id": "241155bf-49bb-48f5-bdb1-2a8a8caccd2e",
      "name": "Выбор чанка для перевода1",
      "executeOnce": true,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "iGih4QSBWfmpkdGY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a320ed9c-2701-43a7-9b94-69e81721ff4b",
              "leftValue": "={{ $json.status }}",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3760,
        768
      ],
      "id": "5b9022c8-ad0b-42f7-ace9-e3b0fed61cb2",
      "name": "Чанк переведен успешно?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "51b21233-3fe6-4936-a2d1-5ecc273ae054",
              "leftValue": "={{ $json.error }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3328,
        752
      ],
      "id": "6f8e08e1-3d30-4f6b-be78-ac99b53ad6e2",
      "name": "Глава обновлена успешно?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6f984c06-c9ba-4aaf-afb1-47190835f452",
              "leftValue": "={{ $json.is_new_chapter }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3104,
        736
      ],
      "id": "24c86c35-2b87-4feb-88ee-63224a237329",
      "name": "Продолжение главы?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- пошлем сообщение что переведена очередная часть чанков\nINSERT INTO telegram_send_message (template) VALUES ('processing');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2448,
        720
      ],
      "id": "4edea472-81f2-4f30-98c0-a62db1c5f848",
      "name": "Оповещение о переводе очередной части чанков1",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "iGih4QSBWfmpkdGY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OggkJgA8IFmasME_BNimq",
          "mode": "list",
          "cachedResultUrl": "/workflow/OggkJgA8IFmasME_BNimq",
          "cachedResultName": "[Перевод] Арка"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_chunk": "={{ $('Выбор чанка для перевода1').first().json.id }}"
          },
          "matchingColumns": [
            "id_chunk"
          ],
          "schema": [
            {
              "id": "id_chunk",
              "displayName": "id_chunk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2848,
        848
      ],
      "id": "2ef128f0-012d-4dd7-b6a4-d6dc0bd03af1",
      "name": "Обновление Арки"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c718a4a4-dfa6-44bb-8d43-0b4e65b69a22",
              "leftValue": "={{ $json.error }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2672,
        848
      ],
      "id": "6a2b0726-3627-458e-b6e4-5b884333dcfc",
      "name": "Арка обновлена успешно?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "76fd9e2d-f645-4214-ae67-45667e5b189c",
              "leftValue": "={{ $('Выбор чанка для перевода1').first().json }}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4160,
        752
      ],
      "id": "ed7172da-db82-4ab1-9a21-6769fd5fe1ec",
      "name": "Переведена вся книга?1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Перевод текущей работы в статус Выполнено\nUPDATE \n    document_jobs \n  SET \n    status = 'done' \n  WHERE \n    id IN (SELECT job_id FROM job_current);\n\nSELECT * FROM job_current;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3904,
        528
      ],
      "id": "9746bb88-030c-4f88-ae24-01444ea16b14",
      "name": "Обновляем статус работы на Выполнено1",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "iGih4QSBWfmpkdGY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vuqLp6ZGenvpkJbmVPR_6",
          "mode": "list",
          "cachedResultUrl": "/workflow/vuqLp6ZGenvpkJbmVPR_6",
          "cachedResultName": "Finish"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}"
          },
          "matchingColumns": [
            "Field1"
          ],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3680,
        528
      ],
      "id": "0d728c61-3798-4336-9f6c-7cf643b2ade6",
      "name": "Финиш",
      "alwaysOutputData": true,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GPARI8V4RBSPL1h39_kHW",
          "mode": "list",
          "cachedResultUrl": "/workflow/GPARI8V4RBSPL1h39_kHW",
          "cachedResultName": "[Перевод] Перевод чанка"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_chunk": "={{ $('Выбор чанка для перевода1').first().json.id }}"
          },
          "matchingColumns": [
            "id_chunk"
          ],
          "schema": [
            {
              "id": "id_chunk",
              "displayName": "id_chunk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3968,
        768
      ],
      "id": "c4b0a090-6e40-4ecd-b1be-f81272120d5e",
      "name": "Перевод чанка"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ImJpqAA5WlJZDK5jMtQSM",
          "mode": "list",
          "cachedResultUrl": "/workflow/ImJpqAA5WlJZDK5jMtQSM",
          "cachedResultName": "[Перевод] Обработка ошибки"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_chunk": "={{ $('Выбор чанка для перевода1').first().json.id }}"
          },
          "matchingColumns": [
            "id_chunk"
          ],
          "schema": [
            {
              "id": "id_chunk",
              "displayName": "id_chunk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3776,
        1072
      ],
      "id": "99794516-11dc-4534-8b52-0d1c419169fb",
      "name": "Обработка ошибки - Чанк"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ImJpqAA5WlJZDK5jMtQSM",
          "mode": "list",
          "cachedResultUrl": "/workflow/ImJpqAA5WlJZDK5jMtQSM",
          "cachedResultName": "[Перевод] Обработка ошибки"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_chunk": "={{ $('Выбор чанка для перевода1').first().json.id }}"
          },
          "matchingColumns": [
            "id_chunk"
          ],
          "schema": [
            {
              "id": "id_chunk",
              "displayName": "id_chunk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3328,
        1072
      ],
      "id": "94f78fc5-be35-4dcb-bc82-d2b681e0152a",
      "name": "Обработка ошибки - Глава"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ImJpqAA5WlJZDK5jMtQSM",
          "mode": "list",
          "cachedResultUrl": "/workflow/ImJpqAA5WlJZDK5jMtQSM",
          "cachedResultName": "[Перевод] Обработка ошибки"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_chunk": "={{ $('Выбор чанка для перевода1').first().json.id }}"
          },
          "matchingColumns": [
            "id_chunk"
          ],
          "schema": [
            {
              "id": "id_chunk",
              "displayName": "id_chunk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2672,
        1072
      ],
      "id": "0d4d3133-a78b-4a82-8796-94e7e79a3983",
      "name": "Обработка ошибки - Арка"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IgLfaCSszdwsPw_b4u3au",
          "mode": "list",
          "cachedResultUrl": "/workflow/IgLfaCSszdwsPw_b4u3au",
          "cachedResultName": "[Перевод] Глава"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_chunk": "={{ $('Выбор чанка для перевода1').first().json.id }}"
          },
          "matchingColumns": [
            "id_chunk"
          ],
          "schema": [
            {
              "id": "id_chunk",
              "displayName": "id_chunk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3536,
        752
      ],
      "id": "bcafe41b-66fb-4495-a065-75f11718ff91",
      "name": "Обновление Главы"
    },
    {
      "parameters": {
        "content": "## 📄 Суть сценария\nОбработчик текста. Взаимодействует с LLM (DeepSeek/Qwen) для перевода фрагментов новелл.\n\n🧪 **Оптимизация:** 💡 Стоит добавить проверку лимитов (Billing) перед отправкой тяжелых запросов.\n\n---\n*Gen by Gemini CLI*",
        "height": 250,
        "width": 500,
        "color": 6
      },
      "id": "desc-sticker-Q5TR",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2976,
        464
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Q5TRHGg-XRblnMRpH41Ee",
          "mode": "list",
          "cachedResultUrl": "/workflow/Q5TRHGg-XRblnMRpH41Ee",
          "cachedResultName": "Translate Chunk"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2224,
        720
      ],
      "id": "8864d2b0-2746-40b5-8f38-41bdda329397",
      "name": "Переход на следующий чанк"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "job_id",
              "value": "={{ .job_id || .item.json.job_id }}"
            },
            {
              "name": "log_msg",
              "value": "={{ \"Master Loop: Processing chunk \" + (.id || .id_chunk || \"unknown\") }}"
            }
          ]
        }
      },
      "id": "prepare-log-data",
      "name": "Prepare Log Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -4800,
        752
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_log",
          "mode": "list",
          "cachedResultName": "document_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ .job_id }}",
            "log": "={{ .log_msg }}",
            "node": "Translate Chunk",
            "type": "info"
          }
        }
      },
      "id": "master-loop-log-v2",
      "name": "to log (Iteration)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4600,
        752
      ],
      "credentials": {
        "postgres": {
          "id": "iGih4QSBWfmpkdGY",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выбор чанка для перевода1": {
      "main": [
        [
          {
            "node": "Переведена вся книга?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чанк переведен успешно?": {
      "main": [
        [
          {
            "node": "Обновление Главы",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Обработка ошибки - Чанк",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Глава обновлена успешно?": {
      "main": [
        [
          {
            "node": "Продолжение главы?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Обработка ошибки - Глава",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Оповещение о переводе очередной части чанков1": {
      "main": [
        [
          {
            "node": "Переход на следующий чанк",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Продолжение главы?": {
      "main": [
        [
          {
            "node": "Оповещение о переводе очередной части чанков1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Обновление Арки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновление Арки": {
      "main": [
        [
          {
            "node": "Арка обновлена успешно?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Арка обновлена успешно?": {
      "main": [
        [
          {
            "node": "Оповещение о переводе очередной части чанков1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Обработка ошибки - Арка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Переведена вся книга?1": {
      "main": [
        [
          {
            "node": "Обновляем статус работы на Выполнено1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Перевод чанка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновляем статус работы на Выполнено1": {
      "main": [
        [
          {
            "node": "Финиш",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Перевод чанка": {
      "main": [
        [
          {
            "node": "Чанк переведен успешно?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обработка ошибки - Чанк": {
      "main": [
        [
          {
            "node": "Перевод чанка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обработка ошибки - Глава": {
      "main": [
        [
          {
            "node": "Обновление Главы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обработка ошибки - Арка": {
      "main": [
        [
          {
            "node": "Обновление Арки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновление Главы": {
      "main": [
        [
          {
            "node": "Глава обновлена успешно?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "to log (Iteration)": {
      "main": [
        [
          {
            "node": "Выбор чанка для перевода1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Log Data": {
      "main": [
        [
          {
            "node": "to log (Iteration)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Europe/Moscow",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "global-error-handler-36id",
    "timeSavedMode": "fixed",
    "availableInMCP": false,
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "translate": "start",
          "code": 1
        }
      }
    ]
  },
  "versionId": "f1066c30-1b3e-4173-91bd-6d18570f1982",
  "activeVersionId": null,
  "versionCounter": 169,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-25T03:35:45.742Z",
      "createdAt": "2026-03-25T03:35:45.742Z",
      "role": "workflow:owner",
      "workflowId": "Q5TRHGg-XRblnMRpH41Ee",
      "projectId": "laKLUPkuQseBWQhm",
      "project": {
        "updatedAt": "2026-03-24T19:39:31.833Z",
        "createdAt": "2026-03-24T18:56:12.129Z",
        "id": "laKLUPkuQseBWQhm",
        "name": "Алексей bigalex <alexei.bigalex@yandex.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "72a067d6-c26f-4653-90ff-323299f21ddd"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}